@{
    ViewBag.Title = Token.Events;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">

        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="~/Home/Index" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="~/Home/Index" class="kt-subheader__breadcrumbs-link">
                @Token.HomePage
            </a>

            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="javascript:void(0)" class="kt-subheader__breadcrumbs-link">
                @Token.Events
            </a>

            <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
        </div>
    </div>

</div>

<!-- end:: Content Head -->
<!--Page Body-->
<div ng-controller="eventsCtrl">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-line-chart"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        @Token.Events
                    </h3>
                </div>
            </div>


            <div class="kt-portlet__body">
                <form novalidate name="eventFrm" class="kt-form kt-form--label-right" ng-submit="getEvents(true)">
                    <div class="kt-portlet__body">
                        <!--R O W 1-->
                        <div class="form-group  row">
                            <!--FirstName-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.NameGroom</label>
                                <input type="text"
                                       class="form-control"
                                       ng-model="eventFilter.NameGroom" />
                            </div>

                            <!--LastName-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.NameBride</label>
                                <input type="text"
                                       class="form-control"
                                       ng-model="eventFilter.NameBride" />
                            </div>

                            <!--IsNamesAr-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.IsNamesAr</label>
                                <select class="form-control"
                                        serchbale
                                        ng-model="eventFilter.IsNamesAr"
                                        ng-options="c.Id as c.Name for c in checkBoxList"></select>
                            </div>

                            <!--IsClinetCustomLogo-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.IsClinetCustomLogo</label>
                                <select class="form-control"
                                        serchbale
                                        ng-model="eventFilter.IsClinetCustomLogo"
                                        ng-options="c.Id as c.Name for c in checkBoxList"></select>
                            </div>
                        </div>
                        <!--R o w 2-->
                        <div class="form-group  row">
                            <!--PackageId-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.Package</label>
                                <select class="form-control"
                                        serchbale
                                        ng-model="eventFilter.PackageId"
                                        ng-options="c.Id as c.PackageName for c in packages"></select>
                            </div>

                        </div>

                        <div class="form-group  row">
                            <!--CreateDateFrom-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.CreateDateFrom</label>
                                <input type="date"
                                       class="form-control"
                                       id="createDateFrom"
                                       ng-model="eventFilter.CreateDateFrom" />
                            </div>
                            <!--CreateDateTo-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.CreateDateTo</label>
                                <input type="date"
                                       class="form-control"
                                       id="createDateTo"
                                       ng-model="eventFilter.CreateDateTo" />
                            </div>

                            <!--EventDateTimeFrom-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.EventDateFrom</label>
                                <input type="date"
                                       class="form-control"
                                       id="eventDateTimeFrom"
                                       ng-model="eventFilter.EventDateTimeFrom" />
                            </div>
                            <!--EventDateTimeTo-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.EventDateTo</label>
                                <input type="date"
                                       class="form-control"
                                       id="eventDateTimeTo"
                                       ng-model="eventFilter.EventDateTimeTo" />
                            </div>
                        </div>
                    </div>

                    <!--R O W 4-->
                    <div class="row">
                        <div class="col-lg-10"></div>
                        <div class="col-lg-2">
                            <button type="submit" class="btn btn-brand btn-elevate btn-elevate-air">
                                <i class="la la-search">@Token.Show</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-portlet__body">
                    <!--SMS Print,Excel,PDF,Search,....-->
                    <sms-buttons-search ng-sms-tableid="ng_table_1" ng-sms-search-model="itemSearch"></sms-buttons-search>
                    <table class="table sms-table table-hover " id="ng_table_1">
                        <thead class="">
                            <tr class="">
                                <th class="th-10">
                                    <sms-sort ng-sms-fop="enquiyFOP"
                                              ng-sms-field-name="NameGroom"
                                              ng-sms-resource="@Token.NameGroom"></sms-sort>
                                </th>
                                <th class="th-10">
                                    <sms-sort ng-sms-fop="enquiyFOP"
                                              ng-sms-field-name="NameGroom"
                                              ng-sms-resource="@Token.NameGroom"></sms-sort>
                                </th>
                                <th class="th-10">
                                    <sms-sort ng-sms-fop="enquiyFOP"
                                              ng-sms-field-name="IsClinetCustomLogo"
                                              ng-sms-resource="@Token.IsClinetCustomLogo"></sms-sort>
                                </th>

                                <th class="th-10">
                                    <sms-sort ng-sms-fop="enquiyFOP"
                                              ng-sms-field-name="IsNamesAr"
                                              ng-sms-resource="@Token.IsNamesAr"></sms-sort>
                                </th>
                                <th class="th-10">
                                    <sms-sort ng-sms-fop="enquiyFOP"
                                              ng-sms-field-name="PackageName"
                                              ng-sms-resource="@Token.Package"></sms-sort>
                                </th>
                                <th class="th-10">
                                    <sms-sort ng-sms-fop="enquiyFOP"
                                              ng-sms-field-name="PrintNamesTypeName"
                                              ng-sms-resource="@Token.PrintNamesType"></sms-sort>
                                </th>
                                <th class="th-10">
                                    <sms-sort ng-sms-fop="enquiyFOP"
                                              ng-sms-field-name="BranchName"
                                              ng-sms-resource="@Token.Branch"></sms-sort>
                                </th>
                                <th class="th-10">
                                    <sms-sort ng-sms-fop="enquiyFOP"
                                              ng-sms-field-name="EventDateTimeDisplay"
                                              ng-sms-resource="@Token.EventDate"></sms-sort>
                                </th>
                                <th class="th-10">
                                    <sms-sort ng-sms-fop="enquiyFOP"
                                              ng-sms-field-name="CreateDateTimeDisplay"
                                              ng-sms-resource="@Token.CreateDateTime"></sms-sort>
                                </th>
                                <th class="th-10">
                                    @Token.Operations
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in events|customFilter:itemSearch:enquiyFOP:'enquiyFOP':this |orderBy:enquiyFOP.sort.propName:enquiyFOP.sort.reverse | limitTo:enquiyFOP.paging.pagingLimt.take:enquiyFOP.paging.pagingLimt.skip track by $index">
                                <td>{{x.NameGroom}}</td>
                                <td>{{x.NameGroom}}</td>
                                <td><i class="fas " ng-class="{'fa-check':x.IsClinetCustomLogo}"></i></td>
                                <td><i class="fas " ng-class="{'fa-check':x.IsNamesAr}"></i></td>
                                <td>{{x.Package.PackageName}}</td>
                                <td>{{x.PrintNameType.PrintNamesTypeName}}</td>
                                <td>{{x.Branch.BranchName}}</td>
                                <td>{{x.EventDateTimeDisplay}}</td>
                                <td>{{x.CreateDateTimeDisplay}}</td>
                                <td>
                                    <!--Btn:Edit-->
                                    <a href="/MyEvents/AddAndUpdate?id={{x.Id}}"
                                       ng-if="!x.IsAllowSurvey"
                                        title="@Token.Update" class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="la la-edit"></i></a>

                                    <!--EventCoordinations-->
                                    <a href="/EEW/AddAndUpdateCoordinations?id={{x.Id}}"
                                           ng-if="!x.IsClosed&&x.IsPayment&&x.EventWorkStatusIsFinshed.DataPerfection"

                                        title="@Token.AddAndUpdateCoordinations" class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="fa fa-tasks"></i></a>

                                    <!--Show Details-->
                                    <a href="/MyEnquires/EnquiryInformation?id={{x.Id}}"  title="@Token.ShowDetails" class="btn btn-sm btn-clean btn-icon btn-icon-md" target="_blank"><i class="la la-search"></i> </a>

                                    <!--Surveys-->
                                    <a href="/EventSurveyQuestions/Survey?eventId={{x.Id}}"
                                       ng-if="x.IsAllowSurvey"
                                        title="@Token.Survey"
                                       class="btn btn-sm btn-clean btn-icon btn-icon-md" target="_blank"><i class="fa fa-chart-line"></i></a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--Paging -->
                    <sms-paging ng-sms-fop="enquiyFOP" ng-sms-display-m-func="getEvents()"></sms-paging>
                </div>
            </div>
        </div>
    </div>


</div>


@section scripts{

    <!--(ANageeb) link angualr files for thsis  view -->
    <script src="~/Scripts/angularJS/views/events/index/service.js"></script>
    <script src="~/Scripts/angularJS/views/events/index/contoller.js"></script>
}
