@{
    ViewBag.Title = Token.Branches;
    Layout = "~/Views/Shared/_Layout.cshtml";
    UsersPrivilegeVM Priv = new UsersPrivilegesBLL().SelectByUserId(PagesEnum.Branches);

}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">

        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="~/Home/Index" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="~/Home/Index" class="kt-subheader__breadcrumbs-link">
                @Token.HomePage
            </a>

            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="javascript:void(0)" class="kt-subheader__breadcrumbs-link">
                @Token.Branches
            </a>

            <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
        </div>
    </div>

</div>

<!-- end:: Content Head -->
<!--Page Body-->
<div ng-controller="branchesCtrl">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-line-chart"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        @Token.Branches
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar"  >
                    <div class="kt-portlet__head-wrapper">
                        <div class="kt-portlet__head-actions">
                            @if (Priv.CanAdd)
                            {
                                <a href="/Branches/AddAndUpdate" class="btn btn-brand btn-elevate btn-icon-sm">
                                    <i class="la la-plus"></i>@Token.AddNewBranch
                                </a>
                            }
                        </div>
                    </div>
                </div>

            </div>

            <div class="kt-portlet__body">
                <div class="kt-portlet__body">
                    @if (Priv.CanDisplay)
                    {
                       <!--SMS Print,Excel,PDF,Search,....-->
                        <sms-buttons-search ng-sms-tableid="ng_table_1" ng-sms-search-model="itemSearch"></sms-buttons-search>
                        <table class="table sms-table table-hover " id="ng_table_1">
                            <thead class=" ">
                                <tr class=" ">
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="branchFOP"
                                                  ng-sms-field-name="NameAr"
                                                  ng-sms-resource="@Token.NameAr"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="branchFOP"
                                                  ng-sms-field-name="NameEn"
                                                  ng-sms-resource="@Token.NameEn"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="branchFOP"
                                                  ng-sms-field-name="PhoneNo"
                                                  ng-sms-resource="@Token.PhoneNumber"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="branchFOP"
                                                  ng-sms-field-name="Address"
                                                  ng-sms-resource="@Token.Address"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="branchFOP"
                                                  ng-sms-field-name="CountryName"
                                                  ng-sms-resource="@Token.Country"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="branchFOP"
                                                  ng-sms-field-name="CityName"
                                                  ng-sms-resource="@Token.City"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="branchFOP"
                                                  ng-sms-field-name="IsBasic"
                                                  ng-sms-resource="@Token.IsBasic"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        @Token.Operations
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in branches|customFilter:itemSearch:branchFOP:'branchFOP':this|orderBy:branchFOP.sort.propName:branchFOP.sort.reverse | limitTo:branchFOP.paging.pagingLimt.take:branchFOP.paging.pagingLimt.skip track by $index">
                                    <td>{{x.NameAr}}</td>
                                    <td>{{x.NameEn}}</td>
                                    <td>{{x.PhoneNo}}</td>
                                    <td>{{x.Address}}</td>
                                    <td>{{x.Country.CountryName}}</td>
                                    <td>{{x.City.CityName}}</td>
                                    <td>
                                        <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                            <label>
                                                <input type="checkbox" checked="checked" ng-model="x.IsBasic" ng-disabled="true" name="" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                                <span></span>
                                            </label>
                                        </span>
                                    </td>
                                    <td>
                                        <!--Btn:Edit-->
                                        @if (Priv.CanEdit)
                                        {
                                            <a href="/Branches/AddAndUpdate?id={{x.Id}}"
                                                 title="@Token.Edit"
                                                class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="la la-edit"></i></a>
                                        }
                                        <!--Btn:Delete-->
                                        @if (Priv.CanDelete)
                                        {
                                            <a href="javascript:void(0);"  title="@Token.Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md" ng-click="delete(x)"><i class="la la-trash"></i> </a>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    }
                    <!--Paging -->
                    <sms-paging ng-sms-fop="branchFOP" ng-sms-display-m-func="getBranches()"></sms-paging>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <!--(ANageeb) link angualr files for thsis  view -->
    <script src="~/Scripts/angularJS/views/branches/index/service.js"></script>
    <script src="~/Scripts/angularJS/views/branches/index/contoller.js"></script>
}