@{
    ViewBag.Title = Token.AddOrUpdateProduct;
    Layout = "~/Views/Shared/_Layout.cshtml";
    UsersPrivilegeVM Priv =
        new UsersPrivilegesBLL().SelectByUserId(PagesEnum.Products);
}

<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" ng-controller="productsCtrl">
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="~/Home/Index" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>

                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="~/Home/Index" class="kt-subheader__breadcrumbs-link"> @Token.HomePage </a>

                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="~/Products" class="kt-subheader__breadcrumbs-link"> @Token.Products </a>


                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="javascript:void(0)" class="kt-subheader__breadcrumbs-link" ng-if="newProduct.State!=state.update">@Token.AddNewProduct</a>
                <a href="javascript:void(0)" class="kt-subheader__breadcrumbs-link" ng-if="newProduct.State==state.update">@Token.UpdateProduct</a>

                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>

    </div>
    <!-- end:: Subheader -->
    <!--Wizerd-->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid  kt-wizard-v1 kt-wizard-v1--white" id="kt_wizard_v1" data-ktwizard-state="step-first">
                    <div class="kt-grid__item">

                        <!--begin: Form Wizard Nav -->
                        <div class="kt-wizard-v1__nav">
                            <div class="kt-wizard-v1__nav-items">
                                <a class="kt-wizard-v1__nav-item" href="javascript:void()" data-ktwizard-type="step"
                                   data-ktwizard-state="current">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i class="flaticon-info" ng-class="{'error-color':
                                        (   addProductFrm.nameAr.$invalid ||
                                            addProductFrm.nameEn.$invalid||
                                            addProductFrm.descriptionAr.$invalid ||
                                            addProductFrm.descriptionEn.$invalid ||
                                            addProductFrm.uplaodFIleNotesAr.$invalid ||
                                            addProductFrm.uplaodFIleNotesEn.$invalid||
                                            addProductFrm.productTypeid.$invalid)&&productFrmErrorSubmit
                                        }"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label" ng-class="{'error-color':
                                        (   addProductFrm.nameAr.$invalid ||
                                            addProductFrm.nameEn.$invalid||
                                            addProductFrm.descriptionAr.$invalid ||
                                            addProductFrm.descriptionEn.$invalid ||
                                            addProductFrm.uplaodFIleNotesAr.$invalid ||
                                            addProductFrm.uplaodFIleNotesEn.$invalid||
                                            addProductFrm.productTypeid.$invalid)&&productFrmErrorSubmit
                                        }">
                                            1) @Token.BasicInformation
                                        </div>
                                    </div>
                                </a>
                                <a class="kt-wizard-v1__nav-item" href="javascript:void()" data-ktwizard-type="step">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i class="flaticon-list" ng-class="{'error-color':(newProduct.Options|FilterWithoutDelete).length==0&&productFrmErrorSubmit}"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label" ng-class="{'error-color':(newProduct.Options|FilterWithoutDelete).length==0&&productFrmErrorSubmit}">
                                            2) @Token.Options
                                        </div>
                                    </div>
                                </a>
                                <a class="kt-wizard-v1__nav-item" href="javascript:void()" data-ktwizard-type="step">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i class="flaticon2-image-file"
                                               ng-class="{'error-color':(newProduct.Images|FilterWithoutDelete).length==0&&productFrmErrorSubmit}"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label"
                                             ng-class="{'error-color':(newProduct.Images|FilterWithoutDelete).length==0&&productFrmErrorSubmit}">
                                            3) @Token.Images
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!--end: Form Wizard Nav -->
                    </div>
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">

                        <!--begin: Form Wizard Form-->
                        <form class="kt-form" id="kt_form" name="addProductFrm" ng-submit="saveChange(addProductFrm)" novalidate>
                            <!--begin: Form Wizard Step 1 Basic Informaoin-->
                            <div class="kt-wizard-v1__content" data-ktwizard-type="step-content"
                                 data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">@Token.BasicInformation :</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form">
                                        <div class="form-group row">
                                            <!--NameAr-->
                                            <div class="col-6">
                                                <label class="col-form-label">@Token.NameAr</label>
                                                <div class="form-group-sub">
                                                    <input type="text" class="form-control input-disabled"
                                                           name="nameAr"
                                                           ng-class="{'is-invalid':addProductFrm.nameAr.$invalid&&productFrmErrorSubmit}"
                                                           ng-model="newProduct.NameAr"
                                                           required maxlength="50" ng-maxlength="50" />
                                                    <!--Errors:NameAr-->
                                                    <small class="error " ng-if="addProductFrm.nameAr.$error.required&&productFrmErrorSubmit">@Token.FieldIsRequierd</small>
                                                </div>
                                            </div>
                                            <!--NameEn-->
                                            <div class="col-6">
                                                <label class="col-form-label">@Token.NameEn</label>
                                                <div class="form-group-sub">
                                                    <input type="text"
                                                           class="form-control input-disabled"
                                                           name="nameEn"
                                                           ng-class="{'is-invalid':addProductFrm.nameEn.$invalid&&productFrmErrorSubmit}"
                                                           ng-model="newProduct.NameEn"
                                                           required maxlength="50" ng-maxlength="50" />
                                                    <!--Errors:NameEn-->
                                                    <small class="error " ng-if="addProductFrm.nameEn.$error.required&&productFrmErrorSubmit">@Token.FieldIsRequierd</small>
                                                </div>
                                            </div>
                                            <!--DescriptionAr-->
                                            <div class="col-6">
                                                <label class="col-form-label">@Token.DescriptionAr</label>
                                                <div class="form-group-sub">
                                                    <textarea class="form-control input-disabled"
                                                              rows="3"
                                                              name="descriptionAr"
                                                              ng-class="{'is-invalid':addProductFrm.descriptionAr.$invalid&&productFrmErrorSubmit}"
                                                              ng-model="newProduct.DescriptionAr"
                                                              required maxlength="500"></textarea>
                                                    <!--Errors:DescriptionAr-->
                                                    <small class="error " ng-if="addProductFrm.descriptionAr.$error.required&&productFrmErrorSubmit">@Token.FieldIsRequierd</small>
                                                </div>
                                            </div>
                                            <!--DescriptionEn-->
                                            <div class="col-6">
                                                <label class="col-form-label">@Token.DescriptionEn</label>
                                                <div class="form-group-sub">
                                                    <textarea class="form-control input-disabled"
                                                              rows="3"
                                                              name="descriptionEn"
                                                              ng-class="{'is-invalid':addProductFrm.descriptionEn.$invalid&&productFrmErrorSubmit}"
                                                              ng-model="newProduct.DescriptionEn"
                                                              required maxlength="500"></textarea>
                                                    <!--Errors:DescriptionEn-->
                                                    <small class="error " ng-if="addProductFrm.descriptionEn.$error.required&&productFrmErrorSubmit">@Token.FieldIsRequierd</small>
                                                </div>
                                            </div>
                                            <!--UplaodFIleNotesAr-->
                                            <div class="col-6">
                                                <label class="col-form-label">@Token.UplaodFIleNotesAr</label>
                                                <div class="form-group-sub">
                                                    <textarea class="form-control input-disabled"
                                                              rows="3"
                                                              name="uplaodFIleNotesAr"
                                                              ng-class="{'is-invalid':addProductFrm.uplaodFIleNotesAr.$invalid&&productFrmErrorSubmit}"
                                                              ng-model="newProduct.UplaodFileNotesAr"
                                                              required maxlength="500"></textarea>
                                                    <!--Errors:UplaodFIleNotesAr-->
                                                    <small class="error " ng-if="addProductFrm.uplaodFIleNotesAr.$error.required&&productFrmErrorSubmit">@Token.FieldIsRequierd</small>
                                                </div>
                                            </div>
                                            <!--UplaodFIleNotesEn-->
                                            <div class="col-6">
                                                <label class="col-form-label">@Token.UplaodFIleNotesEn</label>
                                                <div class="form-group-sub">
                                                    <textarea class="form-control input-disabled"
                                                              rows="3"
                                                              name="uplaodFIleNotesEn"
                                                              ng-class="{'is-invalid':addProductFrm.uplaodFIleNotesEn.$invalid&&productFrmErrorSubmit}"
                                                              ng-model="newProduct.UplaodFileNotesEn"
                                                              required maxlength="500"></textarea>
                                                    <!--Errors:UplaodFIleNotesEn-->
                                                    <small class="error " ng-if="addProductFrm.uplaodFIleNotesEn.$error.required&&productFrmErrorSubmit">@Token.FieldIsRequierd</small>
                                                </div>
                                            </div>
                                            <!--Product Type-->
                                            <div class="col-6">
                                                <label class="col-form-label">@Token.ProductType</label>
                                                <div class="form-group-sub">
                                                    <select class="form-control"
                                                            serchbale
                                                            name="productTypeid"
                                                            ng-class="{'is-invalid':addProductFrm.productTypeid.$invalid&&productFrmErrorSubmit}"
                                                            ng-model="newProduct.ProductTypeId"
                                                            ng-options="c.Id as c.ProductTypeName for c in productTypes"
                                                            ng-required="true"></select>

                                                    <!--Errors:ProductType-->
                                                    <small class="error " ng-if="addProductFrm.productTypeid.$error.required&&productFrmErrorSubmit">@Token.FieldIsRequierd</small>
                                                </div>
                                            </div>
                                            <!--IsActive-->
                                            <div class="col-6">
                                                <label class="col-form-label ">@Token.IsActive</label>
                                                <div class="form-groups">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            <input type="checkbox" checked="checked" ng-model="newProduct.IsActive" name="" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                            <!--Version-->
                                            <div class="col-6">

                                                <!--IsActive-->
                                                <label class="col-form-label ">@Token.Version </label>
                                                <div class="form-group">
                                                    <input type="number" class="form-control " ng-model="newProduct.Version" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--begin: Form Wizard Step 2 === Options-->
                            <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">@Token.Options :</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form">
                                        <table class="table sms-table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="th-40"><span class="sms-sort-field">@Token.OptionName</span> </th>
                                                    <th class="th-40"><span class="sms-sort-field">@Token.OptionItemsCount</span></th>
                                                    <th class="th-20">
                                                        <span class="sms-sort-field">@Token.Operations</span>
                                                        <br>
                                                        <a href="javascript:void()"
                                                           class="btn btn-brand btn-elevate btn-icon-sm btn-elevate-air"
                                                           ng-click="addOrUpdateOptionShowModel()">
                                                            <i class="la la-plus"></i>@Token.Add
                                                        </a>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="c in newProduct.Options" ng-hide="c.State==state.delete">
                                                    <td><span>{{c.StaticField.StaticFieldName}}</span></td>
                                                    <td><span>{{c.Items.length}}</span></td>
                                                    <td>
                                                        <!--Edit-->
                                                        <a href="javascript:void(0)" title="@Token.Update"
                                                           ng-click="addOrUpdateOptionShowModel(c)"
                                                           class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                                            <i class="la la-edit"></i>
                                                        </a>

                                                        <!--Delete-->
                                                        <a href="javascript:void(0)" title="@Token.Delete"
                                                           ng-click="deleteOption($index)"
                                                           class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                                            <i class="la la-trash"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!--Error-->
                                        <small class="error " ng-if="(newProduct.Options|FilterWithoutDelete).length==0&&productFrmErrorSubmit">@Token.FieldIsRequierd</small>
                                    </div>
                                </div>
                            </div>


                            <!--begin: Form Wizard Step 3 === Images-->
                            <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">@Token.Images :</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form">
                                        <div class="form-group">
                                            <!--Images-->
                                            <up-files text="@Token.Upload"
                                                      accept="image/*"
                                                      count="10"></up-files>
                                            <br />
                                            <br />
                                            <!--Images-->
                                            <div class="form-group-sub">
                                                <div class="row">
                                                    <div class="col-4 padding-0" ng-repeat="im in newProduct.Images " ng-hide="im.State==state.delete">
                                                        <div class="thumbnail thumbnail-v1">
                                                            <img src="{{im.ImageUrl}}" alt="@Token.Image">
                                                            <div class="caption">
                                                                <div class="kt-section__content kt-section__content--solid">
                                                                    <div class="kt-divider">
                                                                        <span></span>
                                                                        <span class="cursor-pointer kt-link kt-font-boldest     " ng-click="deleteImage($index)">@Token.Delete</span>
                                                                        <span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!--Error-->
                                            <small class="error " ng-if="(newProduct.Images|FilterWithoutDelete).length==0&&productFrmErrorSubmit">@Token.FieldIsRequierd</small>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold "
                                     data-ktwizard-type="action-prev">
                                    @Token.Previous
                                </div>
                                <button type="submit" href="javascript:void()" ng-if="newProduct.State==state.create"
                                        class="btn  btn-elevate btn-elevate-air btn-brand  btn-icon-sm  btn-md btn-tall btn-wide kt-font-bold "
                                        data-ktwizard-type="action-submit">
                                    <i class="la la-plus"></i>@Token.Add
                                </button>
                                <button type="submit" href="javascript:void()" ng-if="newProduct.State==state.update"
                                        class="btn  btn-elevate btn-elevate-air btn-brand  btn-icon-sm  btn-md btn-tall btn-wide kt-font-bold "
                                        data-ktwizard-type="action-submit">
                                    <i class="la la-save"></i>@Token.Save
                                </button>
                                <div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold "
                                     data-ktwizard-type="action-next">
                                    @Token.NextStep
                                </div>
                            </div>
                            <!--end: Form Actions -->
                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--add new option-->
    <div id="addNewOption" class="modal  animated jackInTheBox" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" *ngIf="isInputUpdate!=undefind">
            <div class="modal-content">
                <form novalidate class="kt-form kt-form--label-right" name="optionFrm"
                      ng-submit="saveChangeOption(optionFrm)">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!--Input Information-->
                        <div class="kt-section kt-section--last">
                            <div class="kt-section__body">
                                <h3 class="kt-section__title kt-section__title-lg">@Token.OptionInformation:</h3>
                                <!--R O W 1-->
                                <div class="form-group  row ">
                                    <label class="col-form-label col-2">@Token.OptionName</label>
                                    <div class="form-group">
                                        <select class="form-control" name="staticFieldid"
                                                serchbale
                                                ng-model="newOption.StaticFieldId"
                                                ng-class="{'is-invalid':optionFrm.staticFieldid.$invalid&&optionFrmSubmitError}"
                                                ng-options="c.Id as c.StaticFieldName for c in staticFields"
                                                required></select>
                                        <small class="error " ng-if="optionFrm.staticFieldid.$error.required&&optionFrmSubmitError">
                                            @Token.FieldIsRequierd
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!--Input Properties-->
                        <div class="kt-section kt-section--last">
                            <div class="kt-section__body">
                                <h3 class="kt-section__title kt-section__title-lg">@Token.OptionItems:</h3>
                                <div class="form-group  row ">
                                    <table class="table table-hover sms-table">
                                        <thead>
                                            <tr>
                                                <th class="th-30"><span class="sms-sort-field">@Token.ValueAr</span></th>
                                                <th class="th-30"><span class="sms-sort-field">@Token.ValueEn</span></th>
                                                <th class="th-20"><span class="sms-sort-field">@Token.Price</span></th>
                                                <th class="th-20"><span class="sms-sort-field">@Token.Options</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="newOptionItem.ValueAr" maxlength="50" ng-class="{'is-invalid':(!newOptionItem.ValueAr&&newOpetionItemErrorr)}" />
                                                    <small class="error " ng-if="!newOptionItem.ValueAr&&newOpetionItemErrorr">@Token.FieldIsRequierd</small>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="newOptionItem.ValueEn" maxlength="50" ng-class="{'is-invalid':(!newOptionItem.ValueEn&&newOpetionItemErrorr)}" />
                                                    <small class="error " ng-if="!newOptionItem.ValueEn&&newOpetionItemErrorr">@Token.FieldIsRequierd</small>
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control" ng-model="newOptionItem.Price" step=".5" ng-class="{'is-invalid':(!newOptionItem.Price&&newOpetionItemErrorr)}" />
                                                    <small class="error " ng-if="!newOptionItem.Price&&newOpetionItemErrorr">@Token.FieldIsRequierd</small>
                                                </td>
                                                <td>
                                                    <!--Add-->
                                                    <a href="javascript:void(0)" title="@Token.Add" ng-click="addNewOptionItem()"
                                                       class="btn btn-sm btn-clean btn-icon btn-icon-md cursor-pointer">
                                                        <i class="la la-plus"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="c in newOption.Items" ng-hide="c.State==state.delete">
                                                <td>
                                                    <input type="text" class="form-control" ng-model="c.ValueAr" maxlength="50" ng-class="{'is-invalid':(!c.ValueAr)}" ng-disabled="c.State==state.delete" />
                                                    <small class="error " ng-if="!c.ValueAr">@Token.FieldIsRequierd</small>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="c.ValueEn" maxlength="50" ng-class="{'is-invalid':(!c.ValueEn)}" ng-disabled="c.State==state.delete" />
                                                    <small class="error " ng-if="!c.ValueEn">@Token.FieldIsRequierd</small>
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control" ng-model="c.Price" step=".5" ng-class="{'is-invalid':(!c.Price)}" ng-disabled="c.State==state.delete" s />
                                                    <small class="error " ng-if="!c.Price">@Token.FieldIsRequierd</small>
                                                </td>
                                                <td>
                                                    <!--Delete-->
                                                    <a href="javascript:void(0)" title="@Token.Delete" ng-click="deleteOptionItem($index)" ng-if="c.State!=state.delete"
                                                       class="btn btn-sm btn-clean btn-icon btn-icon-md cursor-pointer">
                                                        <i class="la la-trash"></i>
                                                    </a>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-brand btn-elevate btn-elevate-air">
                            <i class="la la-plus" ng-if="newOption.State==state.create">@Token.Add</i>
                            <i class="la la-save" ng-if="newOption.State==state.update">@Token.Update</i>
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Token.Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>


@section scriptsInHeader{
    <link href="~/assets/app/custom/wizard/wizard-v1.default.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/assets/app/custom/wizard/wizard-v1.js"></script>

    <!--(ANageeb) link angualr files for thsis  view -->
    <script src="~/Scripts/angularJS/views/products/addAndUpdate/service.js"></script>
    <script src="~/Scripts/angularJS/views/products/addAndUpdate/contoller.js"></script>


}