
@{
    ViewBag.Title = Token.Products;
    Layout = "~/Views/Shared/_Layout.cshtml";
    UsersPrivilegeVM Priv = new UsersPrivilegesBLL().SelectByUserId(PagesEnum.Products);
}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">

        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="~/Home/Index" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="~/Home/Index" class="kt-subheader__breadcrumbs-link">
                @Token.HomePage
            </a>

            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="javascript:void(0)" class="kt-subheader__breadcrumbs-link">
                @Token.Products
            </a>
            
            <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
        </div>
    </div>

</div>

<!-- end:: Content Head -->
<!--Page Body-->
<div ng-controller="productsCtrl">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon-list-1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        @Token.Products
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="kt-portlet__head-actions">
                            @if (Priv.CanAdd)
                            {
                                <a href="/Products/AddAndUpdate" class="btn btn-brand btn-elevate btn-icon-sm">
                                    <i class="la la-plus"></i>@Token.AddNewProduct
                                </a>
                            }
                        </div>
                    </div>
                </div>

            </div>
            <div class="kt-portlet__body">
                <div class="kt-portlet__body">
                    @if (Priv.CanDisplay)
                    {
                        <!--SMS Print,Excel,PDF,Search,....-->
                        <sms-buttons-search ng-sms-tableid="ng_table_1" ng-sms-search-model="itemSearch"></sms-buttons-search>
                        <table class="table sms-table table-hover " id="ng_table_1">
                            <thead>
                                <tr>
                                    <th class="th-20 ">
                                        <sms-sort ng-sms-fop="productFOP"
                                                  ng-sms-field-name="NameAr"
                                                  ng-sms-resource="@Token.NameAr"></sms-sort>
                                    </th>
                                    <th class="th-20 ">
                                        <sms-sort ng-sms-fop="productFOP"
                                                  ng-sms-field-name="NameEn"
                                                  ng-sms-resource="@Token.NameEn"></sms-sort>
                                    </th>
                                    <th class="th-20 ">
                                        <sms-sort ng-sms-fop="productFOP"
                                                  ng-sms-field-name="ProductTypeName"
                                                  ng-sms-resource="@Token.ProductType"></sms-sort>
                                    </th>
                                    <th class="th-10 ">
                                        <sms-sort ng-sms-fop="productFOP"
                                                  ng-sms-field-name="IsActive"
                                                  ng-sms-resource="@Token.IsActive"></sms-sort>
                                    </th>
                                    <th class="th-15 ">
                                        <sms-sort ng-sms-fop="productFOP"
                                                  ng-sms-field-name="Version"
                                                  ng-sms-resource="@Token.Version"></sms-sort>
                                    </th>
                                    <th class="th-15">
                                        @Token.Operations
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="x in products|customFilter:itemSearch:productFOP:'productFOP':this  |orderBy:productFOP.sort.propName:productFOP.sort.reverse | limitTo:productFOP.paging.pagingLimt.take:productFOP.paging.pagingLimt.skip track by $index"
                                    ng-class="{'kt-datatable__row--even':$index%2==0}">
                                    <td><span>{{x.NameAr}}</span> </td>
                                    <td><span>{{x.NameEn}}</span> </td>
                                    <td><span>{{x.ProductType.ProductTypeName}}</span> </td>
                                    <td>
                                        <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                            <label>
                                                <input type="checkbox"
                                                       checked="checked"
                                                       ng-change="changeActive(x)"
                                                       ng-model="x.IsActive" name="" >
                                                <span></span>
                                            </label>
                                        </span>
                                        <span ng-show="false">
                                            ✔
                                        </span>
                                    </td>
                                    <td><span>{{x.Version}}</span></td>
                                    
                                    <td>
                                        <!--Btn:Copy-->
                                        @if (Priv.CanEdit)
                                        {
                                            <a href="/products/addandupdate?id={{x.Id}}&copy=true" title="@Token.ProductCopy" class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="fa fa-copy"></i></a>
                                        }
                                        <!--Btn:Edit-->
                                        @if (Priv.CanEdit)
                                        {
                                            <a href="/products/addandupdate?id={{x.Id}}" title="@Token.Update" class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="la la-edit"></i></a>
                                        }
                                        @if (Priv.CanDelete)
                                        {
                                            <a href="javascript:void(0);" ng-click="delete(x)" ng-if="x.Id!=itemEditId" title="@Token.Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="la la-trash"></i> </a>
                                        }
                                    </td>
                                </tr>


                            </tbody>
                        </table>

                             <!--Paging -->
                        <sms-paging-select ng-sms-fop="productFOP"></sms-paging-select>
                        <sms-paging ng-sms-fop="productFOP" ng-sms-display-m-func="getProducts()"></sms-paging>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <!--(ANageeb) link angualr files for thsis  view -->
    <script src="~/Scripts/angularJS/views/products/index/service.js"></script>
    <script src="~/Scripts/angularJS/views/products/index/contoller.js"></script>
}