@{
    ViewBag.Title = Token.Events;
    Layout = "~/Views/Shared/_Layout.cshtml";
    UsersPrivilegeVM
        Priv = new UsersPrivilegesBLL().SelectByUserId(PagesEnum.Events);
    UsersPrivilegeVM
       PrivPayments = new UsersPrivilegesBLL().SelectByUserId(PagesEnum.EnquiryPayments);
    UsersPrivilegeVM
        PrivUserPayments = new UsersPrivilegesBLL().SelectByUserId(PagesEnum.UserPayments);

    bool IsCurrentUserAdmin = CookieService.UserInfo.AccountTypeId == (int)AccountTypeEnum.ProjectManager;
    bool IsCurrentUserBranchManger = CookieService.UserInfo.AccountTypeId == (int)AccountTypeEnum.BranchManager;

}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">

        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="~/Home/Index" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="~/Home/Index" class="kt-subheader__breadcrumbs-link">
                @Token.HomePage
            </a>

            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="javascript:void(0)" class="kt-subheader__breadcrumbs-link">
                @Token.Events
            </a>

            <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
        </div>
    </div>

</div>

<!-- end:: Content Head -->
<!--Page Body-->
<div ng-controller="eventsCtrl">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-line-chart"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        @Token.Events
                    </h3>
                </div>
            </div>

            <div class="kt-portlet__body">
                <form novalidate name="eventFrm" class="kt-form kt-form--label-right" ng-submit="getEvents(true)">
                    <div class="kt-portlet__body">
                        <!--R O W 1-->
                        <div class="form-group  row">
                            <!--FirstName-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.NameGroom</label>
                                <input type="text"
                                       class="form-control"
                                       ng-model="eventFilter.NameGroom" />
                            </div>

                            <!--LastName-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.NameBride</label>
                                <input type="text"
                                       class="form-control"
                                       ng-model="eventFilter.NameBride" />
                            </div>

                            <!--IsNamesAr-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.IsNamesAr</label>
                                <select class="form-control"
                                        serchbale
                                        ng-model="eventFilter.IsNamesAr"
                                        ng-options="c.Id as c.Name for c in checkBoxList"></select>
                            </div>

                            <!--IsClinetCustomLogo-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.IsClinetCustomLogo</label>
                                <select class="form-control"
                                        serchbale
                                        ng-model="eventFilter.IsClinetCustomLogo"
                                        ng-options="c.Id as c.Name for c in checkBoxList"></select>
                            </div>
                        </div>
                        <!--R o w 2-->
                        <div class="form-group  row">
                            <!--IsLogoAr
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.IsLogoAr</label>
                                <select class="form-control"
                                        serchbale
                                        ng-model="eventFilter.IsLogoAr"
                                        ng-options="c.Id as c.Name for c in checkBoxList"></select>
                            </div>-->
                            <!--PackageId-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.Package</label>
                                <select class="form-control"
                                        serchbale
                                        ng-model="eventFilter.PackageId"
                                        ng-options="c.Id as c.PackageName for c in packages"></select>
                            </div>
                            <!--Branch-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.Branch</label>
                                <select class="form-control"
                                        serchbale
                                        ng-model="eventFilter.BranchId"
                                        ng-options="c.Id as c.BranchName for c in branches"></select>
                            </div>
                        </div>

                        <div class="form-group  row">
                            <!--CreateDateFrom-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.CreateDateFrom</label>
                                <input type="date"
                                       class="form-control"
                                       id="createDateFrom"
                                       ng-model="eventFilter.CreateDateFrom" />
                            </div>
                            <!--CreateDateTo-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.CreateDateTo</label>
                                <input type="date"
                                       class="form-control"
                                       id="createDateTo"
                                       ng-model="eventFilter.CreateDateTo" />
                            </div>

                            <!--EventDateTimeFrom-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.EventDateFrom</label>
                                <input type="date"
                                       class="form-control"
                                       id="eventDateTimeFrom"
                                       ng-model="eventFilter.EventDateTimeFrom" />
                            </div>
                            <!--EventDateTimeTo-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.EventDateTo</label>
                                <input type="date"
                                       class="form-control"
                                       id="eventDateTimeTo"
                                       ng-model="eventFilter.EventDateTimeTo" />
                            </div>
                        </div>
                    </div>

                    <!--R O W 4-->
                    <div class="row">
                        <div class="col-lg-10"></div>
                        <div class="col-lg-2">
                            <button type="submit" class="btn btn-brand btn-elevate btn-elevate-air">
                                <i class="la la-search">@Token.Show</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-portlet__body">
                    @if (Priv.CanDisplay)
                    {
                        <table class="table sms-table  "
                               datatable="ng"
                               dt-options="vm.dtOptions"
                               dt-instance="vm.dtInstance"
                               dt-column-defs="vm.dtColumnDefs"
                               id="ng_table_1">
                            <thead class="">
                                <tr class="">
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="enquiyFOP"
                                                  ng-sms-field-name="NameGroom"
                                                  ng-sms-resource="@Token.NameGroom"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="enquiyFOP"
                                                  ng-sms-field-name="NameBride"
                                                  ng-sms-resource="@Token.NameBride"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="enquiyFOP"
                                                  ng-sms-field-name="IsClinetCustomLogo"
                                                  ng-sms-resource="@Token.IsClinetCustomLogo"></sms-sort>
                                    </th>

                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="enquiyFOP"
                                                  ng-sms-field-name="PackageName"
                                                  ng-sms-resource="@Token.Package"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="enquiyFOP"
                                                  ng-sms-field-name="PrintNamesTypeName"
                                                  ng-sms-resource="@Token.PrintNamesType"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="enquiyFOP"
                                                  ng-sms-field-name="BranchName"
                                                  ng-sms-resource="@Token.Branch"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="enquiyFOP"
                                                  ng-sms-field-name="EventDateTimeDisplay"
                                                  ng-sms-resource="@Token.EventDateTime"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="enquiyFOP"
                                                  ng-sms-field-name="CreateDateTimeDisplay"
                                                  ng-sms-resource="@Token.CreateDateTime"></sms-sort>
                                    </th>

                                    <th class="th-10">
                                        @Token.Operations
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in events|filter:eventsSearch |orderBy:enquiyFOP.sort.propName:enquiyFOP.sort.reverse | limitTo:enquiyFOP.paging.pagingLimt.take:enquiyFOP.paging.pagingLimt.skip track by $index">
                                    <td>{{x.NameGroom}}</td>
                                    <td>{{x.NameBride}}</td>
                                    <td><i class="fas " ng-class="{'fa-check':x.IsClinetCustomLogo}"></i></td>
                                    <td>{{x.Package.PackageName}}</td>
                                    <td>{{x.PrintNameType.PrintNamesTypeName}}</td>
                                    <td>{{x.Branch.BranchName}}</td>
                                    <td>{{x.EventDateTimeDisplay}}</td>
                                    <td>{{x.CreateDateTimeDisplay}}</td>
                                    <td>
                                        <!--Event Information-->
                                        <a href="/Enquires/EnquiryInformation?id={{x.Id}}" title="@Token.ShowDetails" class="btn btn-sm btn-clean btn-icon btn-icon-md" target="_blank"><i class="la la-search"></i> </a>

                                        <!--Btn:Edit-->
                                        @if (Priv.CanEdit)
                                        {
                                            <a href="/Events/AddAndUpdate?id={{x.Id}}" title="@Token.Update" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                               ng-hide="x.IsClosed"><i class="la la-edit"></i></a>
                                        }

                                        <!--EventCoordinations-->
                                        <a href="/EEW/AddAndUpdateCoordinations?id={{x.Id}}" title="@Token.AddAndUpdateCoordinations"
                                           ng-hide="x.IsClosed||!x.IsPayment"
                                           class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="fa fa-tasks"></i></a>
                                   
                                             <!--توزيع اوامر العمل على الموظفين-->
                                        <a href="/Events/DistributionOfWork?id={{x.Id}}&branchId={{x.BranchId}}"
                                           title="@Token.DistributionOfWork"
                                           class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                           ng-hide="x.IsClosed||!x.IsPayment"><i class="fas fa-users-cog"></i></a>

                                        <!--Event Employees-->
                                        <a href="Javascript:void(0)"
                                           title="@Token.EventEmployees"
                                           class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                           ng-click="showEventEmployees(x)"
                                           ><i class="fa fa-users"></i></a>

                                        


                                        @if (PrivPayments.CanAdd || PrivPayments.CanDisplay)
                                        {
                                            <a href="/EnquiryPayments/Payments?id={{x.Id}}" title="@Token.Payments" class="btn btn-sm btn-clean btn-icon btn-icon-md" target="_blank"><i class="fas fa-hand-holding-usd"></i> </a>
                                        }

                                        @if (IsCurrentUserAdmin)
                                        {
                                            <!--التعدير فى حقول الاستبيان-->
                                            <a href="Javascript:void(0)" title="@Token.CreateCustomSurvey"
                                               class="btn btn-sm btn-clean btn-icon btn-icon-md" target="_blank"
                                               ng-if="!x.IsAllowSurvey"

                                               ng-click="showCreateCustomSurveyModel(x)"><i class="fa fa-chart-line"></i></a>

                                              <!--نعرض الاستبيان بدام تمت اضافتها -->
                                            <a href="/EventSurveyQuestions/Survey?eventId={{x.Id}}"
                                               ng-if="x.IsAllowSurvey"
                                               title="@Token.Survey"
                                               class="btn btn-sm btn-clean btn-icon btn-icon-md" target="_blank"><i class="fa fa-chart-line"></i></a>

                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    <!--Paging -->
                    <sms-paging ng-sms-fop="enquiyFOP" ng-sms-display-m-func="getEvents()"></sms-paging>
                </div>
            </div>
        </div>
    </div>

    <!--Create Custom Survey-->
    <div id="createCustomSurvey"
         class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Token.CreateCustomSurvey</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form novalidate name="enquiryStatus" class="kt-form kt-form--label-right" ng-submit="addNewStatus(enquiryStatus)">
                        <!--R O W 1-->
                        <div class="form-group  row">
                            <!--Event Survey Questions Defult-->
                            <div class="col-lg-3 form-group-sub">
                                <div class="kt-checkbox-list">
                                    <label class="kt-checkbox kt-checkbox--bold"
                                           ng-repeat="x in  surveyQuestions"
                                           ng-class="{'kt-checkbox--solid kt-checkbox--success':x.IsSelected}">
                                        <input type="checkbox" ng-model="x.IsSelected">   {{x.SurveyQuestion.EventSurveyQuestionTypeName}}
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <div class="row">
                                    <div class="col-lg-10"></div>
                                    <div class="col-lg-2">
                                        <button type="submit" class="btn btn-brand btn-elevate btn-elevate-air" ng-click="updateEventSurveyQuestions()">
                                            <i class="la la-save">@Token.Update</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Token.Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--Event Employees-->
    <div id="eventEmployees"
         class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Token.CreateCustomSurvey</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form novalidate name="enquiryStatus" class="kt-form kt-form--label-right" ng-submit="addNewStatus(enquiryStatus)">
                        <!--R O W 1-->
                        <div class="form-group  row">
                            <table class="table sms-table">
                                <thead>
                                    <tr role="row">
                                        <th class="th-30 ">
                                            <label class="sms-sort-field">
                                                @Token.Employee
                                            </label>
                                        </th>
                                        <th class="th-30">
                                            <label class="sms-sort-field">
                                                @Token.WorkType
                                            </label>
                                        </th>
                                        <th class="th-10">
                                            <label class="sms-sort-field">
                                                @Token.Finshed
                                            </label>
                                        </th>
                                        <th class="th-10">
                                            <label class="sms-sort-field">
                                                @Token.Operations
                                            </label>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="gp in currentEventEmployees">
                                        <td>
                                            <p><a href="/Users/UserInformation?id={{gp.EmployeeId}}" class="kt-link kt-font-boldest">{{gp.UserName}}</a></p>
                                        </td>
                                        <td>
                                            <select class="form-control input-disabled"
                                                    ng-model="gp.WorkTypeId"
                                                    ng-options="c.Id as c.WorkTypeName for c in workTypes"
                                                    ng-disabled="true"></select>
                                        </td>
                                        <td><i class="fa" ng-class="{'fa-check':gp.IsFinshed}"></i></td>
                                        <td>
                                            @if(PrivUserPayments.CanEdit|| PrivUserPayments.CanAdd|| PrivUserPayments.CanDisplay)
                                            {
                                                <a href="/UserPayments/Payments?id={{gp.EmployeeId}}"
                                                   ng-if="gp.UserAccountTypeId==accountTypeEnum.Helper"
                                                   title="@Token.Payments" class="btn btn-sm btn-clean btn-icon btn-icon-md" target="_blank"><i class="fas fa-hand-holding-usd"></i></a>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Token.Close</button>
                </div>
            </div>
        </div>
    </div>


</div>


@section scripts{

    <!--(ANageeb) link angualr files for thsis  view -->
    <script src="~/Scripts/angularJS/views/events/index/service.js"></script>
    <script src="~/Scripts/angularJS/views/events/index/contoller.js"></script>
}
