
@{
    ViewBag.Title = Token.AddAndUpdateCoordinations  ;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" ng-controller="eventCoordinationCtrl">
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="~/Home/Index" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>

                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="~/Home/Index" class="kt-subheader__breadcrumbs-link"> @Token.HomePage </a>

                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="~/EEW/ArchivingAndSaveing" class="kt-subheader__breadcrumbs-link"> @Token.EventCoordinations </a>


                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="javascript:void(0)" class="kt-subheader__breadcrumbs-link">@Token.AddAndUpdateCoordinations</a>
                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active </span> -->
            </div>
        </div>

    </div>

    <!-- end:: Subheader -->


    <div class="kt-content  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-lg-12">
                <!--Tasks-->
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">@Token.Tasks</h3>
                        </div>
                    </div>

                    <!--Employees-->
                    <div class="kt-portlet__body">

                        <div class="form-group  row">
                            <table class="table sms-table">
                                <thead>
                                    <tr role="row">
                                        <th class="th-10 "><label class="sms-sort-field">@Token.TaskNumber</label></th>
                                        <th class="th-25 "><label class="sms-sort-field">@Token.Task</label></th>
                                        <th class="th-10 "><label class="sms-sort-field">@Token.StartTime</label></th>
                                        <th class="th-10 "><label class="sms-sort-field">@Token.EndTime</label></th>
                                        <th class="th-30 "><label class="sms-sort-field">@Token.Notes</label></th>
                                        <th class="th-10 "><label class="sms-sort-field">@Token.UserName</label></th>

                                        
                                        <th class="th-15 " ng-if="!event.EventWorkStatusIsFinshed.Coordination"><label class="sms-sort-field">@Token.Operations</label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in tasks">
                                        <td>{{x.TaskNumber}}</td>
                                        <td>{{x.Task}}</td>
                                        <td>{{x.StartTimeDisplay}}</td>
                                        <td>{{x.EndTimeDisplay}}</td>
                                        <td><textarea class="form-control" 
                                                      ng-model="x.Notes"
                                                      readonly
                                                      ></textarea></td>
                                        
                                        <td>{{x.CreatedUserName}}</td>
                                        <td ng-if="!event.EventWorkStatusIsFinshed.Coordination">
                                            <a href="javascript:void(0);"  title="@Token.Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md" ng-click="delete(x)"><i class="la la-trash"></i> </a>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>
@section scripts{
    <!--(ANageeb) link angualr files for thsis  view -->
<script src="~/Scripts/angularJS/views/eew/coordination/addAndUpdate/service.js"></script>
    <script src="~/Scripts/angularJS/views/eew/coordination/addAndUpdate/contoller.js"></script>
}