

<div class="kt-portlet__body">
    <form novalidate name="eventCoordinationFrm" class="kt-form kt-form--label-right" ng-submit="getEvents(true)">
        <div class="kt-portlet__body">
            <!--R O W 1-->
            <div class="form-group  row">
                <!--FirstName-->
                <div class="col-lg-3 form-group-sub">
                    <label class="col-form-label">@Token.NameGroom</label>
                    <input type="text"
                           class="form-control"
                           ng-model="eventFilter.NameGroom" />
                </div>

                <!--LastName-->
                <div class="col-lg-3 form-group-sub">
                    <label class="col-form-label">@Token.NameBride</label>
                    <input type="text"
                           class="form-control"
                           ng-model="eventFilter.NameBride" />
                </div>

                <!--IsNamesAr-->
                <div class="col-lg-3 form-group-sub">
                    <label class="col-form-label">@Token.IsNamesAr</label>
                    <select class="form-control"
                            serchbale
                            ng-model="eventFilter.IsNamesAr"
                            ng-options="c.Id as c.Name for c in checkBoxList"></select>
                </div>

                <!--IsClinetCustomLogo-->
                <div class="col-lg-3 form-group-sub">
                    <label class="col-form-label">@Token.IsClinetCustomLogo</label>
                    <select class="form-control"
                            serchbale
                            ng-model="eventFilter.IsClinetCustomLogo"
                            ng-options="c.Id as c.Name for c in checkBoxList"></select>
                </div>
            </div>
            <!--R o w 2-->
            <div class="form-group  row">
                <!--PackageId-->
                <div class="col-lg-3 form-group-sub">
                    <label class="col-form-label">@Token.Package</label>
                    <select class="form-control"
                            serchbale
                            ng-model="eventFilter.PackageId"
                            ng-options="c.Id as c.PackageName for c in packages"></select>
                </div>

                <!--Status-->
                <div class="col-lg-3 form-group-sub">
                    <label class="col-form-label">@Token.Status</label>
                <select class="form-control"
                        serchbale
                        ng-model="eventFilter.IsFinshed"
                        ng-options="c.Id as c.Name for c in finshedStatus"></select>
            </div>
        </div>

        </div>

        <!--R O W 4-->
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-brand btn-elevate btn-elevate-air">
                    <i class="la la-search">@Token.Show</i>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="kt-portlet__body">
    <div class="kt-portlet__body">
        <table class="table sms-table  "
               datatable="ng"
               dt-options="vm.dtOptions"
               dt-instance="vm.dtInstance"
               dt-column-defs="vm.dtColumnDefs"
               id="ng_table_1">
            <thead class="">
                <tr class="">
                    <th class="th-10">
                        <sms-sort ng-sms-fop="enquiyFOP"
                                  ng-sms-field-name="NameGroom"
                                  ng-sms-resource="@Token.NameGroom"></sms-sort>
                    </th>
                    <th class="th-10">
                        <sms-sort ng-sms-fop="enquiyFOP"
                                  ng-sms-field-name="NameBride"
                                  ng-sms-resource="@Token.NameBride"></sms-sort>
                    </th>
                    <th class="th-10">
                        <sms-sort ng-sms-fop="enquiyFOP"
                                  ng-sms-field-name="IsClinetCustomLogo"
                                  ng-sms-resource="@Token.IsClinetCustomLogo"></sms-sort>
                    </th>

                    <th class="th-10">
                        <sms-sort ng-sms-fop="enquiyFOP"
                                  ng-sms-field-name="PackageName"
                                  ng-sms-resource="@Token.Package"></sms-sort>
                    </th>
                    <th class="th-10">
                        <sms-sort ng-sms-fop="enquiyFOP"
                                  ng-sms-field-name="PrintNamesTypeName"
                                  ng-sms-resource="@Token.PrintNamesType"></sms-sort>
                    </th>

                    <th class="th-10">
                        <sms-sort ng-sms-fop="enquiyFOP"
                                  ng-sms-field-name="IsFinshed"
                                  ng-sms-resource="@Token.Finshed"></sms-sort>
                    </th>
                    <th class="th-10">
                        <sms-sort ng-sms-fop="enquiyFOP"
                                  ng-sms-field-name="DateTimeDisplay"
                                  ng-sms-resource="@Token.FinshedDateTime"></sms-sort>
                    </th>
                    <th class="th-10">
                        <sms-sort ng-sms-fop="enquiyFOP"
                                  ng-sms-field-name="FinshedUserName"
                                  ng-sms-resource="@Token.FinshedUserName"></sms-sort>
                    </th>
                   
                    <th class="th-10">
                        <sms-sort  
                                  ng-sms-resource="@Token.Operations"></sms-sort>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in events|filter:eventsSearch |orderBy:enquiyFOP.sort.propName:enquiyFOP.sort.reverse | limitTo:enquiyFOP.paging.pagingLimt.take:enquiyFOP.paging.pagingLimt.skip track by $index">
                    <td>{{x.NameGroom}}</td>
                    <td>{{x.NameGroom}}</td>
                    <td><i class="fas " ng-class="{'fa-check':x.IsClinetCustomLogo}"></i></td>
                    <td>{{x.Package.PackageName}}</td>
                    <td>{{x.PrintNameType.PrintNamesTypeName}}</td>
                    <td><i class="fas " ng-class="{'fa-check':x.CurrentWorkStatus.IsFinshed}"></i></td>
                    <td>{{x.CurrentWorkStatus.DateTimeDisplay}}</td>
                    <td>{{x.CurrentWorkStatus.FinshedUserName}}</td>
                    <td>
                        <!--Btn:Coordination-->
                        <a href="/EEW/AddAndUpdateCoordinations?id={{x.Id}}" 
                           ng-if="!x.EventWorkStatusIsFinshed.Coordination&&x.WorkTypeId==worksTypesEnum.Coordination"
                            title="@Token.Update"  
                            class="btn btn-sm btn-clean btn-icon btn-icon-md" ><i class="la la-edit"></i></a>
                      
                        <!--Btn:Implementation-->
                        <a href="javascript:void(0)"
                           ng-if="!x.EventWorkStatusIsFinshed.Implementation&&x.WorkTypeId==worksTypesEnum.Implementation"
                            title="@Token.Finshe"
                           ng-click="taskFinsh(x)"
                           class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="flaticon-interface-10"></i></a>

                        <!--Btn:ArchivingAndSaveing -->
                        <a href="/EEW/AddAndUpdateArchivingAndSaveing?id={{x.Id}}" 
                           ng-if="!x.EventWorkStatusIsFinshed.ArchivingAndSaveing&&x.WorkTypeId==worksTypesEnum.ArchivingAndSaveing"
                           title="@Token.Finshe"
                           class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="flaticon-interface-10"></i></a>
                    
                      
                    
                    </td>
                </tr>
            </tbody>
        </table>
        <!--Paging -->
        <sms-paging ng-sms-fop="enquiyFOP" ng-sms-display-m-func="getEvents()"></sms-paging>
    </div>
</div>