<table class="table sms-table table-bordered">
    <tbody>
        <tr>
            <td class="th-30">@Token.Booking</td>
            <td class="th-70"><i class="fa" ng-class="{'fa-check':EventTaskStatusIsFinshed.Booking}"></i></td>
        </tr>
        <tr>
            <td class="th-30">@Token.DataPerfection</td>
                       <td class="th-70"><i class="fa" ng-class="{'fa-check':EventTaskStatusIsFinshed.DataPerfection}"></i></td>
        </tr>
        <tr>
            <td class="th-30">@Token.Coordination</td>
                       <td class="th-70"><i class="fa" ng-class="{'fa-check':EventTaskStatusIsFinshed.Coordination}"></i></td>
        </tr>
        <tr>
            <td class="th-30">@Token.Implementation</td>
                       <td class="th-70"><i class="fa" ng-class="{'fa-check':EventTaskStatusIsFinshed.Implementation}"></i></td>
        </tr>
        <tr>
            <td class="th-30">@Token.ArchivingAndSaveing</td>
                       <td class="th-70"><i class="fa" ng-class="{'fa-check':EventTaskStatusIsFinshed.ArchivingAndSaveing}"></i></td>
        </tr>
        <tr>
            <td class="th-30">@Token.ProcessingProducts</td>
                       <td class="th-70"><i class="fa" ng-class="{'fa-check':EventTaskStatusIsFinshed.ProcessingProducts}"></i></td>
        </tr>
        <tr>
            <td class="th-30">@Token.Choosing</td>
                       <td class="th-70"><i class="fa" ng-class="{'fa-check':EventTaskStatusIsFinshed.Choosing}"></i></td>
        </tr>
        <tr>
            <td class="th-30">@Token.DigitalProcessing</td>
                       <td class="th-70"><i class="fa" ng-class="{'fa-check':EventTaskStatusIsFinshed.DigitalProcessing}"></i></td>
        </tr>
        <tr>
            <td class="th-30">@Token.PreparingForPrinting</td>
                       <td class="th-70"><i class="fa" ng-class="{'fa-check':EventTaskStatusIsFinshed.PreparingForPrinting}"></i></td>
        </tr>
        <tr>
            <td class="th-30">@Token.Manufacturing</td>
                       <td class="th-70"><i class="fa" ng-class="{'fa-check':EventTaskStatusIsFinshed.Manufacturing}"></i></td>
        </tr>
        <tr>
            <td class="th-30">@Token.QualityAndReview</td>
                       <td class="th-70"><i class="fa" ng-class="{'fa-check':EventTaskStatusIsFinshed.QualityAndReview}"></i></td>
        </tr>
        <tr>
            <td class="th-30">@Token.Packaging</td>
                       <td class="th-70"><i class="fa" ng-class="{'fa-check':EventTaskStatusIsFinshed.Packaging}"></i></td>
        </tr>
        <tr>
            <td class="th-30">@Token.TransmissionAndDelivery</td>
                       <td class="th-70"><i class="fa" ng-class="{'fa-check':EventTaskStatusIsFinshed.TransmissionAndDelivery}"></i></td>
        </tr>
        <tr>
            <td class="th-30">@Token.Archiving</td>
                       <td class="th-70"><i class="fa" ng-class="{'fa-check':EventTaskStatusIsFinshed.Archiving}"></i></td>
        </tr>
    </tbody>
</table>




   