@{
    UsersPrivilegeVM
 Priv = new UsersPrivilegesBLL().SelectByUserId(PagesEnum.Enquires);

    bool IsCurrentUserAdmin = CookieService.UserInfo.AccountTypeId == (int)AccountTypeEnum.ProjectManager;
    bool IsCurrentUserBranchManger = CookieService.UserInfo.AccountTypeId == (int)AccountTypeEnum.BranchManager;
}
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <span class="kt-portlet__head-icon">
                                <i class="kt-font-brand fab fa-wpforms"></i>
                            </span>
                            <h3 class="kt-portlet__head-title">@Token.EnquiryInformation</h3>
                        </div>

                    </div>

                    <!--AddEnquiry Form-->
                    <form novalidate name="enquiryFrm" class="kt-form kt-form--label-right">
                        <div class="kt-portlet__body">

 <!--R O W 1-->
                                <div class="form-group  row">
                                    <!--FirstName-->
                                    <label class="col-form-label col-lg-2">@Token.FirstName</label>
                                    <div class="col-lg-4 form-group-sub ">
                                        <input type="text"
                                               name="firstName"
                                               class="form-control input-disabled"
                                               ng-model="enquiry.FirstName"
                                               maxlength="50"
                                               disabled />
                                    </div>
                                    <!--LastName-->
                                    <label class="col-form-label col-lg-2">@Token.LastName</label>
                                    <div class="col-lg-4 form-group-sub ">
                                        <input type="text"
                                               name="lastName"
                                               class="form-control input-disabled"
                                               ng-model="enquiry.LastName"
                                               disabled />
                                    </div>
                                </div>

                            <!--R O W 2-->
                                <div class="form-group  row">
                                    <!--PhoneNumber-->
                                    <label class="col-form-label col-lg-2">@Token.PhoneNumber</label>
                                    <div class="col-lg-4 form-group-sub ">
                                        <input type="text"
                                               name="phoneNo"
                                               disabled
                                               class="form-control input-disabled"
                                               ng-model="enquiry.PhoneNo" />
                                    </div>


                                    <!--EventDate-->
                                    <label class="col-form-label col-lg-2">@Token.EventDate</label>
                                    <div class="col-lg-4 form-group-sub">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="">{{enquiry.Month?enquiry.Month:'--'}}/{{enquiry.Day?enquiry.Day:'--'}}/{{enquiry.Year?enquiry.Year:'--'}}</span>
                                            </div>
                                            <input type="number" class="form-control input-disabled"
                                                   name="month"
                                                   placeholder="@Token.Month"
                                                   ng-model="enquiry.Month"
                                                   disabled>
                                            <input type="number" class="form-control input-disabled"
                                                   name="day"
                                                   placeholder="@Token.Day"
                                                   ng-model="enquiry.Day"
                                                   disabled>
                                            <input type="number" class="form-control input-disabled"
                                                   name="year"
                                                   placeholder="@Token.Year"
                                                   ng-model="enquiry.Year"
                                                   min="@DateTime.Now.Year"
                                                   disabled>
                                        </div>
                                    </div>
                                </div>

                            <!--R O W 3-->
                                <div class="form-group  row">
                                    <!--Country-->
                                    <label class="col-form-label col-lg-2">@Token.Country</label>
                                    <div class="col-lg-4 form-group-sub ">
                                        <input type="text"
                                               name="lastName"
                                               class="form-control input-disabled"
                                               ng-model="enquiry.Country.CountryName"
                                               disabled />
                                    </div>
                                    <!--City-->
                                    <label class="col-form-label col-lg-2">@Token.City</label>
                                    <div class="col-lg-4 form-group-sub ">
                                        <input type="text"
                                               name="lastName"
                                               class="form-control input-disabled"
                                               ng-model="enquiry.City.CityName"
                                               disabled />
                                    </div>
                                </div>

                            <!--R O W 4-->
                                <div class="form-group  row">
                                    <!--EnquiryType-->
                                    <label class="col-form-label col-lg-2">@Token.EnquiryType</label>
                                    <div class="col-lg-4 form-group-sub">
                                        <input type="text"
                                               name="lastName"
                                               class="form-control input-disabled"
                                               ng-model="enquiry.EnquiryType.EnquiryTypeName"
                                               disabled />
                                    </div>

                                    <!--Branches-->
                                    <label class="col-form-label col-lg-2">@Token.Branch</label>
                                    <div class="col-lg-4 form-group-sub ">
                                        <input type="text"
                                               name="lastName "
                                               class="form-control input-disabled"
                                               ng-model="enquiry.Branch.BranchName"
                                               disabled />
                                    </div>
                                </div>

                            <!--R O W 5-->
                                <div class="form-group  row">
                                    <!--UserCreated-->
                                    <label class="col-form-label col-lg-2">@Token.UserCreated</label>
                                    <div class="col-lg-4 form-group-sub ">
                                        <div class="input-group">
                                            <input type="text"
                                                   name="lastName "
                                                   class="form-control input-disabled"
                                                   ng-model="enquiry.UserCreatedName"
                                                   disabled />
                                            <div class="input-group-append">
                                                <a class="btn btn-default" href="/Users/UserInformation?id={{enquiry.UserCreatedId}}">
                                                    @Token.Opene
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <!--CreateDateTime-->
                                    <label class="col-form-label col-lg-2">@Token.CreateDateTime</label>
                                    <div class="col-lg-4 form-group-sub ">
                                        <input type="text"
                                               name="lastName "
                                               class="form-control input-disabled"
                                               ng-model="enquiry.CreateDateTimeDisplay"
                                               disabled />
                                    </div>
                                </div>

                            <!--R O W 6-->
                                <div class="form-group  row">
                                    <label class="col-form-label col-lg-2">@Token.Notes</label>
                                    <div class="col-lg-10 form-group-sub ">
                                        <table class="table sms-table table-bordered ">
                                            <thead class="">
                                                <tr class="">
                                                    <th class="th-10">
                                                        @Token.Notes
                                                    </th>
                                                    <th class="th-10">
                                                        @Token.User
                                                    </th>
                                                    <th class="th-10">
                                                        @Token.CreateDateTime
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in enquiry.Notes">
                                                    <td>{{x.Notes}}</td>
                                                    <td>
                                                        <p><a href="/Users/UserInformation?id={{x.UserCreatedId}}" class="kt-link kt-font-boldest">{{x.UserCreatedName}}</a></p>
                                                    </td>
                                                    <td>{{x.CreateDateTimeDisplay}}</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                            <!--R O W 7-->
                                <div class="form-group  row">
                                    <label class="col-form-label col-lg-2">@Token.Status</label>
                                    <div class="col-lg-10 form-group-sub ">
                                        <table class="table sms-table table-bordered ">
                                            <thead class="">
                                                <tr class="">
                                                    <th class="th-10">
                                                        @Token.Notes
                                                    </th>
                                                    <th class="th-10">
                                                        @Token.User
                                                    </th>
                                                    <th class="th-10">
                                                        @Token.CreateDateTime
                                                    </th>
                                                    <th class="th-10">
                                                        @Token.Status
                                                    </th>
                                                    <th class="th-10">
                                                        @Token.IsBankTransfer
                                                    </th>
                                                    <th class="th-10">
                                                        @Token.Amount
                                                    </th>
                                                    <th class="th-10">
                                                        @Token.VisitDateTime
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in enquiry.Status">
                                                    <td>{{x.Notes}}</td>
                                                    <td>
                                                        <p><a href="/Users/UserInformation?id={{x.UserCreatedId}}" class="kt-link kt-font-boldest">{{x.UserCreatedName}}</a></p>
                                                    </td>
                                                    <td>{{x.DateTimeDisplay}}</td>
                                                    <td>{{x.EnquiryType.EnquiryTypeName}}</td>
                                                    <td><i class="fas " ng-class="{'fa-check':x.IsBankTransferDeposit}"></i></td>
                                                    <td>{{x.Amount}}</td>
                                                    <td>{{x.ScheduleVisitDateTimeDisplay}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        </div>

                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <div class="row">
                                    <div class="col-lg-9"></div>
                                    <div class="col-lg-3">
                                            <button class="btn btn-danger btn-elevate btn-elevate-air  "
                                                    ng-if="!enquiry.IsClosed"
                                                    ng-click="closeEnquiry(enquiry.Id)">
                                                <i class="la la-lock" >@Token.CloseEnquiry</i>
                                            </button>
                                        <p>@Token.ClosedDatetime : {{enquiry.ClosedDateTimeDisplay}}</p>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!--end::Portlet-->
     
