@{
    bool IsCurrentClinet = CookieService.UserInfo.IsClinet;
    bool IsCurrentEmployee = CookieService.UserInfo.IsEmployee;
}

<!--AddEvent-->
<div class="kt-portlet" ng-if="event">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-photo-camera "></i>
            </span>
            <h3 class="kt-portlet__head-title">@Token.EventInformation</h3>
        </div>

    </div>
    <!--AddEvent Form-->
    <form novalidate name="eventFrm" class="kt-form kt-form--label-right">
        <div class="kt-portlet__body">
            <!--R O W 1-->
            <div class="form-group  row">
                <!--Package-->
                <label class="col-form-label col-lg-2">@Token.Package</label>
                <div class="col-lg-4 form-group-sub">
                    <input type="text"
                           class="form-control input-disabled"
                           ng-model="event.Package.PackageName"
                           ng-disabled="true" />
                </div>

                <!--IsClinetCustomLogo-->
                <label class="col-form-label col-lg-2">@Token.IsClinetCustomLogo</label>
                <div class="col-lg-4 form-group-sub">
                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                        <label>
                            <input type="checkbox" checked="checked" ng-model="event.IsClinetCustomLogo" name="" class="ng-pristine ng-untouched ng-valid ng-not-empty" ng-disabled="true">
                            <span></span>
                        </label>
                    </span>
                </div>
            </div>

            <!--R O W 2-->
            <div class="form-group  row" ng-if="event.IsClinetCustomLogo">
                <!--IsLogoAr
                <label class="col-form-label col-lg-2">@Token.IsLogoAr</label>
                <div class="col-lg-4 form-group-sub">
                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                        <label>
                            <input type="checkbox" checked="checked" ng-model="event.IsLogoAr" name="" class="ng-pristine ng-untouched ng-valid ng-not-empty" ng-disabled="true">
                            <span></span>
                        </label>
                    </span>
                </div>
                    -->
                <!--Upload Logo -->
                <label class="col-form-label col-lg-2">@Token.Logo</label>
                <div class="col-lg-4 form-group-sub">
                    <p style="display:inline"><a href="{{event.LogoFilePath}}" ng-if="event.LogoFilePath" class="kt-link kt-font-boldest">@Token.Review</a></p>
                </div>
            </div>

            <!--R O W 3-->
            <div class="form-group  row" ng-if="event.Package.IsAllowPrintNames">
                <!--PrintNameType-->
                <label class="col-form-label col-lg-2">@Token.PrintNameType</label>
                <div class="col-lg-4 form-group-sub">
                    <input type="text"
                           class="form-control input-disabled"
                           ng-model="event.PrintNameType.PrintNamesTypeName"
                           ng-disabled="true" />
                </div>


                <!--IsNamesAr-->
                <label class="col-form-label col-lg-2">@Token.IsNamesAr</label>
                <div class="col-lg-4 form-group-sub">
                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                        <label>
                            <input type="checkbox" checked="checked" ng-model="event.IsNamesAr" name="" class="ng-pristine ng-untouched ng-valid ng-not-empty"
                                   ng-change="event.NameGroom=null;event.NameBride=null"
                                   ng-disabled="true" />
                            <span></span>
                        </label>
                    </span>
                </div>
            </div>

            <!--R O W 4-->
            <div class="form-group  row" ng-if="event.Package.IsAllowPrintNames||event.IsClinetCustomLogo">
                <!--NameGroom-->
                <label class="col-form-label col-lg-2">@Token.NameGroom</label>
                <div class="col-lg-4 form-group-sub">
                    <input type="text"
                           class="form-control input-disabled"
                           ng-model="event.NameGroom"
                           ng-disabled="true" />

                </div>
                <!--NameBride-->
                <label class="col-form-label col-lg-2">@Token.NameBride</label>
                <div class="col-lg-4 form-group-sub">
                    <input type="text"
                           class="form-control input-disabled"
                           ng-model="event.NameBride"
                           ng-disabled="true" />
                </div>
            </div>

            <!--R O W 5-->
            <div class="form-group  row">
                <!--EventDateTime-->
                <label class="col-form-label col-lg-2">@Token.EventDateTime</label>
                <div class="col-lg-4 form-group-sub">
                    <input class="form-control input-disabled"
                           type="text"
                           ng-model="event.EventDateTimeDisplay"
                           ng-disabled="true" />
                </div>
                <!--Branch
                <label class="col-form-label col-lg-2">@Token.Branch</label>
                <div class="col-lg-4 form-group-sub">
                    <input class="form-control input-disabled"
                           type="text"
                           ng-model="event.Branch.BranchName"
                           ng-disabled="true" />
                </div>-->
                <!--EventDateTime-->
                @if (!IsCurrentEmployee)
                {
                    <label class="col-form-label col-lg-2">@Token.VistToCoordinationDateTime</label>
                    <div class="col-lg-4 form-group-sub">
                        <input class="form-control input-disabled"
                               type="text"
                               ng-model="event.VistToCoordinationDateTimeDisplay"
                               ng-disabled="true" />
                    </div>}
            </div>

            @if (!IsCurrentEmployee)
            {

            <!--R O W 6-->
                <div class="form-group  row">

                    <!--PackagePrice-->
                    <label class="col-form-label col-lg-2">@Token.Pricing</label>
                    <div class="col-lg-10 form-group-sub">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>@Token.PackagePrice</th>
                                    <th>@Token.NamsArExtraPrice</th>
                                    <th>@Token.TotalPrice</th>
                                    <th>@Token.TotalPayments</th>
                                    <th>@Token.TotalPaymentsActivated</th>
                                    <th>@Token.RemainingAmount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{event.PackagePrice|currency:' SAR '}}</td>
                                    <td>{{event.PackageNamsArExtraPrice|currency:' SAR '}}</td>
                                    <td>{{event.PackagePrice+event.PackageNamsArExtraPrice|currency:' SAR '}}</td>
                                    <td>{{event.TotalPayments|currency:' SAR '}}</td>
                                    <td>{{event.TotalPaymentsActivated|currency:' SAR '}}</td>
                                    <td>{{event.RemainingAmount|currency:' SAR '}}</td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            }

            @if (!IsCurrentClinet && !IsCurrentEmployee)
            {
                        <!--R O W 7-->
                <div class="form-group  row">
                    <!--UserCreated-->
                    <label class="col-form-label col-lg-2">@Token.UserCreated</label>
                    <div class="col-lg-4 form-group-sub ">
                        <div class="input-group">
                            <input type="text"
                                   name="lastName "
                                   class="form-control input-disabled"
                                   ng-model="event.UserCreatedUserName"
                                   disabled />
                            <div class="input-group-append">
                                <a class="btn btn-default" href="/Users/UserInformation?id={{event.UserCreaedId}}">
                                    @Token.Opene
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--Clinet-->
                    <label class="col-form-label col-lg-2">@Token.Clinet</label>
                    <div class="col-lg-4 form-group-sub ">
                        <div class="input-group">
                            <input type="text"
                                   name="lastName "
                                   class="form-control input-disabled"
                                   ng-model="event.ClinetUserName"
                                   disabled />
                            <div class="input-group-append">
                                <a class="btn btn-default" href="/Users/UserInformation?id={{event.ClinetId}}">
                                    @Token.Opene
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <!--R O W 8-->
            <div class="form-group  row">
                <!--Notes
                    هنا يضيف ملحوظة جديدة على الملحوظات القدية-->
                <label class="col-form-label col-lg-2">@Token.Notes</label>
                <div class="col-lg-10 form-group-sub">
                    <textarea class="form-control input-disabled"
                              ng-model="event.Notes"
                              ng-disabled="true"></textarea>
                </div>
            </div>

        </div>
    </form>
</div>

<!--end::Portlet-->
