 
            <table class="table sms-table    ">
                <thead class="">
                    <tr class="">
                        <th class="th-10"><span class="sms-sort-field">@Token.Employee</span></th>
                        <th class="th-20"><span class="sms-sort-field">@Token.CreateDateTime</span></th>
                        <th class="th-10"><span class="sms-sort-field">@Token.Amount</span></th>
                        <th class="th-10"><span class="sms-sort-field">@Token.IsDeposit</span></th>
                        <th class="th-10"><span class="sms-sort-field">@Token.IsBankTransfer</span></th>
                        <th class="th-10"><span class="sms-sort-field">@Token.BankTransferPhoto</span></th>
                        <th class="th-10"><span class="sms-sort-field">@Token.IsAcceptFromManger</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in paymentsInformations">
                        <td>
                            <p><a href="/Users/UserInformation?id={{x.UserCreatedId}}" class="kt-link kt-font-boldest">{{x.UserCreatedName}}</a></p>
                        </td>
                        <td>{{x.DateTimeDisplay}}</td>
                        <td>{{x.Amount}}</td>
                        <td><i class="fas " ng-class="{'fa-check':x.IsDeposit}"></i></td>
                        <td><i class="fas " ng-class="{'fa-check':x.IsBankTransfer}"></i></td>

                        <td>
                            <a class="kt-link kt-font-boldest" href="{{x.BankTransferImage}}" target="_blank" ng-show="x.IsBankTransfer">
                                <img class="figure-img img-thumbnail" src="{{x.BankTransferImage}}" width="100" height="100" />
                            </a>
                        </td>
                        <td><i class="fas " ng-class="{'fa-check':x.IsAcceptFromManger}"></i></td>
                    </tr>
                </tbody>
            </table>

