@{
    ViewBag.Title = Token.AddAndUpdateEnquiry;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CurrentAdmin = CookieService.UserInfo.IsAdmin.ToString().ToLower();

    UsersPrivilegeVM
     Priv = new UsersPrivilegesBLL().SelectByUserId(PagesEnum.Enquires);

}

<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" ng-controller="enquiresCtrl">
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="~/Home/Index" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>

                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="~/Home/Index" class="kt-subheader__breadcrumbs-link"> @Token.HomePage </a>

                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="~/Enquires" class="kt-subheader__breadcrumbs-link"> @Token.Enquires </a>


                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="javascript:void(0)" class="kt-subheader__breadcrumbs-link" ng-if="enquiry.State!=state.update">@Token.AddNewEnquiry</a>
                <a href="javascript:void(0)" class="kt-subheader__breadcrumbs-link" ng-if="enquiry.State==state.update">@Token.UpdateEnquiry</a>

                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>

    </div>
    <!-- end:: Subheader -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-lg-12">
                <!--AddEnquiry-->
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <span class="kt-portlet__head-icon">
                                <i class="kt-font-brand flaticon-add"></i>
                            </span>
                            <h3 class="kt-portlet__head-title" ng-if="enquiry.State!=state.update">@Token.AddNewEnquiry</h3>
                            <h3 class="kt-portlet__head-title" ng-if="enquiry.State==state.update">@Token.UpdateEnquiry</h3>
                        </div>

                    </div>
                    <!--AddEnquiry Form-->
                    @Html.Partial("~/Views/Enquires/_AddAndUpdatePartial.cshtml")
                </div>
                <!--end::Portlet-->
            </div>
        </div>
    </div>

</div>
@section scripts{
    <!--(ANageeb) link angualr files for thsis  view -->
<script src="~/Scripts/angularJS/views/myEnquires/addAndUpdate/service.js"></script>
<script src="~/Scripts/angularJS/views/myEnquires/addAndUpdate/contoller.js"></script>
}   