@{
    ViewBag.Title = Token.MyEnquires;
    Layout = "~/Views/Shared/_Layout.cshtml";
   

}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">

        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="~/Home/Index" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="~/Home/Index" class="kt-subheader__breadcrumbs-link">
                @Token.HomePage
            </a>

            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="javascript:void(0)" class="kt-subheader__breadcrumbs-link">
                @Token.MyEnquires
            </a>

            <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
        </div>
    </div>

</div>

<!-- end:: Content Head -->
<!--Page Body-->
<div ng-controller="enquiresCtrl">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand fab fa-wpforms"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        @Token.MyEnquires
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="kt-portlet__head-actions">
                                <a href="/MyEnquires/AddAndUpdate" class="btn btn-brand btn-elevate btn-icon-sm">
                                    <i class="la la-plus"></i>@Token.AddNewEnquiry
                                </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="kt-portlet__body">
                <form novalidate name="enquiryFrm" class="kt-form kt-form--label-right" ng-submit="getEnquires(true)">
                    <div class="kt-portlet__body">
                        <!--R O W 1-->
                        <div class="form-group  row">
                            <!--FirstName-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.FirstName</label>
                                <input type="text"
                                       name="firstName"
                                       class="form-control"
                                       ng-class="{'is-invalid':enquiryFrm.firstName.$invalid&&enquiyFormSubmitErro}"
                                       ng-model="enquiryFilter.FirstName"
                                       ng-change="enquires=[]"
                                       maxlength="50" />

                                <!--Errors:-->
                                <small class="error invalid-feedback" ng-if="enquiryFrm.firstName.$error.required&&enquiyFormSubmitErro">@Token.FieldIsRequierd</small>
                                <small class="error invalid-feedback" ng-if="enquiryFrm.firstName.$error.maxlength&&enquiyFormSubmitErro">@Token.MaxLengthCharIs 50</small>
                            </div>
                            <!--LastName-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.LastName</label>
                                <input type="text"
                                       name="lastName"
                                       class="form-control"
                                       ng-class="{'is-invalid':enquiryFrm.lastName.$invalid&&enquiyFormSubmitErro}"
                                       ng-model="enquiryFilter.LastName"
                                       ng-change="enquires=[]"
                                       maxlength="50" />

                                <!--Errors:-->
                                <small class="error invalid-feedback" ng-if="enquiryFrm.lastName.$error.required&&enquiyFormSubmitErro">@Token.FieldIsRequierd</small>
                                <small class="error invalid-feedback" ng-if="enquiryFrm.firstName.$error.maxlength&&enquiyFormSubmitErro">@Token.MaxLengthCharIs 50</small>
                            </div>
                            <!--PhoneNumber-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.PhoneNumber</label>
                                <input type="text"
                                       name="phoneNo"
                                       ng-class="{'is-invalid':enquiryFrm.phoneNo.$invalid&&enquiyFormSubmitErro}"
                                       class="form-control"
                                       ng-model="enquiryFilter.PhoneNo"
                                       pattern="[0-9]{1,14}"
                                       ng-change="enquires=[]" />
                                <!--Errors:-->
                                <small class="error invalid-feedback" ng-if="enquiryFrm.phoneNo.$error.required&&enquiyFormSubmitErro">@Token.FieldIsRequierd</small>
                                <small class="error invalid-feedback" ng-if="enquiryFrm.phoneNumber.$invalid&&!enquiryFrm.phoneNo.$error.required&&enquiyFormSubmitErro">@Token.InvalidData</small>
                            </div>
                            <!--EventDate-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.EventDate</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">{{enquiryFilter.Month?enquiryFilter.Month:'--'}}/{{enquiryFilter.Day?enquiryFilter.Day:'--'}}/{{enquiryFilter.Year?enquiryFilter.Year:'--'}}</span>
                                    </div>
                                    <input type="number" class="form-control"
                                           name="month"
                                           placeholder="@Token.Month"
                                           ng-model="enquiryFilter.Month"
                                           ng-class="{'is-invalid':enquiryFrm.month.$invalid&&enquiyFormSubmitErro}"
                                           min="1"
                                           max="12">
                                    <!--Error-->
                                    <small class="error invalid-feedback" ng-if="enquiryFrm.month.$error.max&&enquiyFormSubmitErro">@Token.MaxNumberIs 12</small>
                                    <small class="error invalid-feedback" ng-if="enquiryFrm.month.$error.min&&enquiyFormSubmitErro">@Token.MinNumberIs 1</small>

                                    <input type="number" class="form-control"
                                           name="day"
                                           placeholder="@Token.Day"
                                           ng-model="enquiryFilter.Day"
                                           ng-class="{'is-invalid':enquiryFrm.day.$invalid&&enquiyFormSubmitErro}"
                                           min="1"
                                           max="{{fillDayMax(enquiryFilter.Month)}}">
                                    <!--Error-->
                                    <small class="error invalid-feedback" ng-if="enquiryFrm.day.$error.max&&enquiyFormSubmitErro">@Token.MaxNumberIs {{fillDayMax(enquiryFilter.Month)}}</small>
                                    <small class="error invalid-feedback" ng-if="enquiryFrm.day.$error.min&&enquiyFormSubmitErro">@Token.MinNumberIs 1</small>

                                    <input type="number" class="form-control"
                                           name="year"
                                           placeholder="@Token.Year"
                                           ng-model="enquiryFilter.Year"
                                           min="@DateTime.Now.Year"
                                           ng-change="enquires=[]"
                                           ng-class="{'is-invalid':enquiryFrm.year.$invalid&&enquiyFormSubmitErro}">
                                    <!--Error-->
                                    <small class="error invalid-feedback" ng-if="enquiryFrm.year.$error.min&&enquiyFormSubmitErro">@Token.MinNumberIs @DateTime.Now.Year</small>
                                </div>
                            </div>
                        </div>

                        <!--R O W 2-->
                        <div class="form-group  row">
                            <!--Country-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.Country</label>
                                <select class="form-control"
                                        serchbale
                                        name="country"
                                        ng-class="{'is-invalid':enquiryFrm.emp.$invalid&&enquiyFormSubmitErro}"
                                        ng-model="enquiryFilter.CountryId"
                                        ng-change="enquires=[]"
                                        ng-options="c.Id as c.CountryName for c in countries"></select>
                                <!--Errors:-->
                                <small class="error invalid-feedback" ng-if="enquiryFrm.country.$error.required&&enquiyFormSubmitErro">@Token.FieldIsRequierd</small>
                            </div>
                            <!--City-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.City</label>
                                <select class="form-control"
                                        serchbale
                                        name="city"
                                        ng-class="{'is-invalid':enquiryFrm.emp.$invalid&&enquiyFormSubmitErro}"
                                        ng-model="enquiryFilter.CityId"
                                        ng-change="enquires=[]"
                                        ng-options="c.Id as c.CityName for c in cities|filterWithoutStaticItems:{'CountryId':enquiryFilter.CountryId}"></select>
                                <!--Errors:-->
                                <small class="error invalid-feedback" ng-if="enquiryFrm.city.$error.required&&enquiyFormSubmitErro">@Token.FieldIsRequierd</small>
                            </div>

                            <!--Branches-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.Branch</label>
                                <select class="form-control"
                                        serchbale
                                        name="branch"
                                        ng-class="{'is-invalid':enquiryFrm.branch.$invalid&&enquiyFormSubmitErro}"
                                        ng-model="enquiryFilter.BranchId"
                                        ng-options="c.Id as c.BranchName for c in branches|filterWithoutStaticItems:{'CityId':enquiryFilter.CityId}"
                                        ng-change="enquires=[]"
                                        ng-required="true"></select>
                                <!--Errors:-->
                                <small class="error invalid-feedback" ng-if="enquiryFrm.branch.$error.required&&enquiyFormSubmitErro">@Token.FieldIsRequierd</small>
                            </div>
                        </div>

                        <!--R O W 3-->
                        <div class="form-group  row">
                            <!--CreateDateFrom-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.CreateDateFrom</label>
                                <input type="date"
                                       class="form-control"
                                       id="createDateFrom"
                                       ng-model="enquiryFilter.createDateFrom"
                                       ng-change="enquires=[]" />
                            </div>
                            <!--CreateDateTo-->
                            <div class="col-lg-3 form-group-sub">
                                <label class="col-form-label">@Token.CreateDateTo</label>
                                <input type="date"
                                       class="form-control"
                                       id="createDateTo"
                                       ng-model="enquiryFilter.createDateTo"
                                       ng-change="enquires=[]" />
                            </div>
                             
                        </div>

                        <!--R O W 4-->
                        <div class="row">
                            <div class="col-lg-10"></div>
                            <div class="col-lg-2">
                                <button type="submit" class="btn btn-brand btn-elevate btn-elevate-air">
                                    <i class="la la-search">@Token.Show</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-portlet__body">
                        <table class="table sms-table  "
                               datatable="ng"
                               dt-options="vm.dtOptions"
                               dt-instance="vm.dtInstance"
                               dt-column-defs="vm.dtColumnDefs"
                               id="ng_table_1">
                            <thead class=" ">
                                <tr class=" ">
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="enquiyFOP"
                                                  ng-sms-field-name="FirstName"
                                                  ng-sms-resource="@Token.FirstName"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="enquiyFOP"
                                                  ng-sms-field-name="LastName"
                                                  ng-sms-resource="@Token.LastName"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="enquiyFOP"
                                                  ng-sms-field-name="PhoneNo"
                                                  ng-sms-resource="@Token.PhoneNumber"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="enquiyFOP"
                                                  ng-sms-field-name="EnquiryTypeName"
                                                  ng-sms-resource="@Token.EnquiryType"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="enquiyFOP"
                                                  ng-sms-field-name="CountryName"
                                                  ng-sms-resource="@Token.Country"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="enquiyFOP"
                                                  ng-sms-field-name="CityName"
                                                  ng-sms-resource="@Token.City"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="enquiyFOP"
                                                  ng-sms-field-name="BranchName"
                                                  ng-sms-resource="@Token.Branch"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="enquiyFOP"
                                                  ng-sms-field-name="EventDate"
                                                  ng-sms-resource="@Token.EventDate"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        <sms-sort ng-sms-fop="enquiyFOP"
                                                  ng-sms-field-name="CreateDateTimeDisplay"
                                                  ng-sms-resource="@Token.CreateDateTime"></sms-sort>
                                    </th>
                                    <th class="th-10">
                                        @Token.Operations
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in enquires|filter:enquiresSearch |orderBy:enquiyFOP.sort.propName:enquiyFOP.sort.reverse | limitTo:enquiyFOP.paging.pagingLimt.take:enquiyFOP.paging.pagingLimt.skip track by $index">
                                    <td>{{x.FirstName}}</td>
                                    <td>{{x.LastName}}</td>
                                    <td>{{x.PhoneNo}}</td>
                                    <td>{{x.EnquiryType.EnquiryTypeName}}</td>
                                    <td>{{x.Country.CountryName}}</td>
                                    <td>{{x.City.CityName}}</td>
                                    <td>{{x.Branch.BranchName}}</td>
                                    <td>{{x.EventDate}}</td>
                                    <td>{{x.CreateDateTimeDisplay}}</td>
                                    <td>
                                        <!--Btn:Edit-->
                                            @*<a href="/Enquires/AddAndUpdate?id={{x.Id}}"
                                                title="@Token.Update"
                                               ng-if="!x.IsClosed"
                                                class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="la la-edit"></i></a>*@
                                        <!--Show Details-->
                                        <a href="/MyEnquires/EnquiryInformation?id={{x.Id}}" title="@Token.ShowDetails" class="btn btn-sm btn-clean btn-icon btn-icon-md" target="_blank"><i class="la la-search"></i> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    <!--Paging -->
                    <sms-paging ng-sms-fop="enquiyFOP" ng-sms-display-m-func="getEnquires()"></sms-paging>
                </div>
            </div>
        </div>
    </div>

    <!--Show More-->
    <div id="showMore"
         class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Token.Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="kt-form__actions">

                        <table class="table sms-table  ">
                            <thead class=" ">
                                <tr class=" ">
                                    <th class="th-10">
                                        @Token.Note
                                    </th>
                                    
                                    <th class="th-10">
                                        @Token.CreateDateTime
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in enquiry.Notes">
                                    <td>{{x.Note}}</td>
                                    <td>{{x.CreateDateTimeDisplay}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Token.Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <!--(ANageeb) link angualr files for thsis  view -->
    <script src="~/Scripts/angularJS/views/myEnquires/index/service.js"></script>
    <script src="~/Scripts/angularJS/views/myEnquires/index/contoller.js"></script>
}