@{
    ViewBag.Title = Token.MyPayments;
    Layout = "~/Views/Shared/_Layout.cshtml";

    

}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">

        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="~/Home/Index" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="~/Home/Index" class="kt-subheader__breadcrumbs-link">
                @Token.HomePage
            </a>

            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="javascript:void(0)" class="kt-subheader__breadcrumbs-link">
                @Token.PaymentsInformations
            </a>

            <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
        </div>
    </div>

</div>

<!-- end:: Content Head -->
<!--Page Body-->
<div ng-controller="paymentsInformationsCtrl">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand fas fa-hand-holding-usd"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        @Token.Payments 
                    </h3>
                </div>
            </div>

            <div class="kt-portlet__body">
                <div class="kt-portlet__body">
                    <!--SMS Print,Excel,PDF,Search,....-->
                    <sms-buttons-search ng-sms-tableid="ng_table_1" ng-sms-search-model="itemSearch"></sms-buttons-search>
                    <table class="table sms-table table-hover " id="ng_table_1">
                        <thead class="">
                            <tr class="">

                                <th class="th-10">
                                    <sms-sort ng-sms-fop="enquiyFOP"
                                              ng-sms-field-name="DateTimeDisplay"
                                              ng-sms-resource="@Token.CreateDateTime"></sms-sort>
                                </th>
                                <th class="th-10">
                                    <sms-sort ng-sms-fop="enquiyFOP"
                                              ng-sms-field-name="Amount"
                                              ng-sms-resource="@Token.Amount"></sms-sort>
                                </th>

                                <th class="th-10">
                                    <sms-sort ng-sms-fop="enquiyFOP"
                                              ng-sms-field-name="IsBankTransfer"
                                              ng-sms-resource="@Token.IsBankTransfer"></sms-sort>
                                </th>

                                <th class="th-10">
                                    <sms-sort ng-sms-fop="enquiyFOP"
                                              ng-sms-field-name="PaymentImage"
                                              ng-sms-resource="@Token.PaymentPhoto"></sms-sort>
                                </th>
                                <th class="th-10">
                                    <sms-sort ng-sms-fop="enquiyFOP"
                                              ng-sms-field-name="IsAcceptFromManger"
                                              ng-sms-resource="@Token.IsAcceptFromManger"></sms-sort>
                                </th>
                                <th class="th-10">
                                    <sms-sort ng-sms-fop="enquiyFOP"
                                              ng-sms-field-name="Notes"
                                              ng-sms-resource="@Token.Notes"></sms-sort>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in paymentsInformations|customFilter:itemSearch:enquiyFOP:'enquiyFOP':this |orderBy:enquiyFOP.sort.propName:enquiyFOP.sort.reverse | limitTo:enquiyFOP.paging.pagingLimt.take:enquiyFOP.paging.pagingLimt.skip track by $index">
                                <td>{{x.DateTimeDisplay}}</td>
                                <td>{{x.Amount}}</td>
                                <td><i class="fas " ng-class="{'fa-check':x.IsBankTransfer}"></i></td>

                                <td>
                                    <a class="kt-link kt-font-boldest" href="{{x.PaymentImage}}" target="_blank">
                                        <img class="figure-img img-thumbnail" src="{{x.PaymentImage}}" width="100" height="100" />
                                    </a>
                                </td>
                                <td>
                                    <i class="fas " ng-class="{'fa-check':x.IsAcceptFromManger,'fa-close':x.IsAcceptFromManger==false}"></i>
                                </td>
                                <td>
                                    <textarea class="form-control input-disabled" ng-model="x.Notes" disabled></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                              <!--Paging -->
                        <sms-paging-select ng-sms-fop="paymentsInformationFOP"></sms-paging-select>
                        <sms-paging ng-sms-fop="paymentsInformationFOP" ng-sms-display-m-func="getUserPayments()"></sms-paging>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <!--(ANageeb) link angualr files for thsis  view -->
<script src="~/Scripts/angularJS/views/userPayments/myPayments/service.js"></script>
    <script src="~/Scripts/angularJS/views/userPayments/myPayments/contoller.js"></script>
}
