@{
    ViewBag.Title = Token.CreateOrder;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" ng-controller="productsCtrl">
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="~/Home/Index" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>

                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="~/Home/Index" class="kt-subheader__breadcrumbs-link"> @Token.HomePage </a>

                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="/PhotoOrders" class="kt-subheader__breadcrumbs-link"> @Token.MyOrders </a>

                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="javascript:void(0)" class="kt-subheader__breadcrumbs-link" ng-if="newOrder.State!=state.update">@Token.CreateOrder</a>

                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
    </div>

    <!-- end:: Subheader -->
    <!--Wizerd-->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid  kt-wizard-v1 kt-wizard-v1--white" id="kt_wizard_v1" data-ktwizard-state="step-first">
                    <div class="kt-grid__item">

                        <!--begin: Form Wizard Nav -->
                        <div class="kt-wizard-v1__nav">
                            <div class="kt-wizard-v1__nav-items">
                                <a class="kt-wizard-v1__nav-item" href="javascript:void()" data-ktwizard-type="step"
                                   data-ktwizard-state="current">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i class="flaticon-medal" ng-class="{'error-color':!newOrder.ProductTypeId &&productFrmErrorSubmit}"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label" ng-class="{'error-color':!newOrder.ProductTypeId &&productFrmErrorSubmit}">
                                            1) @Token.ProductType
                                        </div>
                                    </div>
                                </a>
                                <a class="kt-wizard-v1__nav-item" href="javascript:void()" data-ktwizard-type="step">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i class="flaticon2-shopping-cart-1" ng-class="{'error-color':!newOrder.ProductId &&productFrmErrorSubmit}"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label" ng-class="{'error-color':   !newOrder.ProductId &&productFrmErrorSubmit}">
                                            2) @Token.Product
                                        </div>
                                    </div>
                                </a>
                                <a class="kt-wizard-v1__nav-item" href="javascript:void()" data-ktwizard-type="step">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label">
                                            3) @Token.ProductDetails
                                        </div>
                                    </div>
                                </a>
                                <a class="kt-wizard-v1__nav-item" href="javascript:void()" data-ktwizard-type="step"
                                   onclick="selectTo(1)">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i class="flaticon-list"
                                               ng-class="{'error-color':(newOrder.Options.length<product.Options.length)&&productFrmErrorSubmit}"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label"
                                             ng-class="{'error-color':(newOrder.Options.length<product.Options.length)&&productFrmErrorSubmit}">
                                            4) @Token.Options
                                        </div>
                                    </div>
                                </a>

                                <a class="kt-wizard-v1__nav-item" href="javascript:void()" data-ktwizard-type="step" ng-click="redesign()">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i class="fas fa-file-archive" ng-class="{'error-color': newOrder.Images.length==0&&productFrmErrorSubmit}"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label" ng-class="{'error-color':newOrder.Images.length==0&&productFrmErrorSubmit}">
                                            5) @Token.Files
                                        </div>
                                    </div>
                                </a>

                                <a class="kt-wizard-v1__nav-item" href="javascript:void()" data-ktwizard-type="step"
                                   onclick="selectTo(1)">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i class="flaticon-truck" ng-class="{'error-color':(addOrderForm.country.$invalid||
                                            addOrderForm.city.$invalid||
                                            addOrderForm.address.$invalid)&&productFrmErrorSubmit}"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label" ng-class="{'error-color':(addOrderForm.country.$invalid||
                                            addOrderForm.city.$invalid||
                                            addOrderForm.address.$invalid)&&productFrmErrorSubmit}">
                                            6) @Token.DeliveryInformation
                                        </div>
                                    </div>
                                </a>

                                <a class="kt-wizard-v1__nav-item" href="javascript:void()" data-ktwizard-type="step"
                                   onclick="selectTo(1)">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i class="fas fa-file-invoice-dollar"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label">
                                            7) @Token.TheBill
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>

                        <!--end: Form Wizard Nav -->
                    </div>
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">

                        <!--begin: Form Wizard Form-->
                        <form class="kt-form" id="kt_form" name="addOrderForm" ng-submit="saveChange(addOrderForm)" novalidate>
                            <!--begin: Form Wizard Step 1 Product Type-->
                            <div class="kt-wizard-v1__content" data-ktwizard-type="step-content"
                                 data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">@Token.ProductType :</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form">
                                        <div class="form-group row">
                                            <!--Error-->
                                            <div class="co-12 col-12">
                                                <alert-error class="animated flash" is-text="true" model="@Token.YouMustbeChooseProductType"
                                                             ng-if="!newOrder.ProductTypeId&&productFrmErrorSubmit"></alert-error>
                                            </div>
                                            <div class="col-4 form-group     cursor-pointer"
                                                 ng-repeat="p in productTypes">
                                                <div class="card  " ng-class="{'card-success':newOrder.ProductTypeId==p.Id}"
                                                     ng-click="newOrder.ProductTypeId=p.Id;getProductsByProductTypeId(p.Id)"
                                                     style="background: url({{p.ImageUrl}})">
                                                    <div class="card-header">{{p.ProductTypeName}}</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--begin: Form Wizard Step 2 Ptoduct-->
                            <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">@Token.Product :</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form row">
                                        <!--Error-->
                                        <div class="co-12 col-12">
                                            <alert-error class="animated flash" is-text="true" model="@Token.YouMustbeChooseProduct"
                                                         ng-if="!newOrder.ProductId&&productFrmErrorSubmit"></alert-error>
                                        </div>

                                        @*<div class="col-4 form-group     cursor-pointer"
                                                 ng-repeat="p in productTypes">
                                                <div class="card  " ng-class="{'card-success':newOrder.ProductTypeId==p.Id}"
                                                     ng-click="newOrder.ProductTypeId=p.Id;getProductsByProductTypeId(p.Id)"
                                                     style="background: url({{p.ImageUrl}})">
                                                    <div class="card-header">{{p.ProductTypeName}}</div>
                                                </div>
                                            </div>*@

                                        <div class="col-4 form-group cursor-pointer"
                                             ng-repeat="p in products"
                                             ng-click="newOrder.ProductId=p.Id;getProductDetails(p.Id)">
                                            <div class="card" ng-class="{'card-success':newOrder.ProductId==p.Id}"
                                                 style="background: url({{p.Images[0].ImageUrl}})">
                                                <div class="card-header">{{p.ProductName}}</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--begin: Form Wizard Step 3 Product Details-->
                            <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">@Token.ProductDetails :</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form">
                                        <div class="form-group row">
                                            <label class="col-form-label col-1  ">@Token.ProductName :  </label>
                                            <div class="form-group col-5">
                                                <input class="form-control" disabled ng-model="newOrder.Product.ProductName" />
                                            </div>
                                            <label class="col-form-label col-1 ">@Token.ProductDescription : </label>
                                            <div class="form-group col-5">
                                                <P class="per-wrap form-control" style="height:auto" ng-bind="newOrder.Product.Description"></P>
                                            </div>

                                            <label class="col-form-label col-1  ">@Token.ProductImages: </label>
                                            <div class="form-group col-11 row">
                                                <div class="col-3" ng-repeat="im in newOrder.Product.Images ">
                                                    <img src="{{im.ImageUrl}}" class="peoduct-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--begin: Form Wizard Step 4 Options-->
                            <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">@Token.Options :</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form  row">
                                        <!--Error-->
                                        <div class="form-group   col-12">
                                            <alert-error class=" " is-text="true" model="@Token.YouMustbeChooseAllOptions"
                                                         ng-if="newOrder.Options.length<product.Options.length&&productFrmErrorSubmit"></alert-error>
                                        </div>
                                        <div class="col-6 row" ng-repeat="im in newOrder.Product.Options">
                                            <label class="col-form-label col-2 ">{{im.StaticField.StaticFieldName}} : </label>
                                            <div class="form-group col-10">
                                                <select class="form-control"
                                                        serchbale
                                                        ng-model="im.ProductOptionItemSelectedId"
                                                        ng-options="i.Id as i.Value for i in im.Items "
                                                        ng-change="selectOptionItem()"></select>
                                                <!--Error Requierd-->
                                                <small class="error" ng-if="!im.ProductOptionItemSelectedId &&productFrmErrorSubmit">@Token.FieldIsRequierd</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--begin: Form Wizard Step 5 === Files-->
                            <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">@Token.Files :</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form">
                                        <div class="form-group row">
                                            <div class="form-group-sub col-12">
                                                <alert-error class="" is-text="true" model="@Token.YouMustbeUplaodFiles"
                                                             ng-if="newOrder.Images.length==0&&productFrmErrorSubmit"></alert-error>
                                            </div>
                                            <!--Uplaod File Notes-->
                                            <label class="col-form-label col-3  ">@Token.UploadFileNotes: </label>
                                            <div class="form-group-sub col-9">
                                                <P class="per-wrap form-control" style="height:auto" ng-bind="newOrder.Product.UplaodFileNote"></P>
                                            </div>
                                            <!--Upload Images-->
                                            <up-files text="@Token.Upload"
                                                      accept="image/*"
                                                      count="500"></up-files>
                                        </div>
                                        <div class="form-group">
                                            <!--Images-->
                                            <div class="form-group-sub">
                                                <div class="row">
                                                    <div class="col-4 padding-0" ng-repeat="im in newOrder.Files" ng-hide="im.State==state.delete">
                                                        <div class="thumbnail thumbnail-v1">
                                                            <img src="{{im.ImageUrl}}" alt="@Token.Image">
                                                            <div class="caption">
                                                                <div class="kt-section__content kt-section__content--solid">
                                                                    <div class="kt-divider">
                                                                        <span></span>
                                                                        <span class="cursor-pointer kt-link kt-font-boldest     " ng-click="deleteFile($index)">@Token.Delete</span>
                                                                        <span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--begin: Form Wizard Step 6 === Delivery Information-->
                            <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">@Token.DeliveryInformation :</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form">
                                        <div class="form-group row">
                                            <div class="form-group-sub col-12">
                                                <alert-error class="animated flash" is-text="true" model="@Token.YouMustbeFillFields"
                                                             ng-if="(addOrderForm.country.$invalid||
                                            addOrderForm.city.$invalid||addOrderForm.address.$invalid)&&productFrmErrorSubmit"></alert-error>
                                            </div>
                                        </div>
                                        <!--Receipt from the branch-->
                                        <div class="form-group row">
                                            <label class="col-form-label col-1">@Token.ReceiptFromTheBranch :</label>
                                            <div class="form-group-sub col-11 ">
                                                <span class="kt-switch kt-switch--icon">
                                                    <label>
                                                        <input type="checkbox" checked="checked" ng-model="newOrder.Delivery_IsReceiptFromTheBranch" ng-change="checkDelivery_IsReceiptFromTheBranch()">
                                                        <span></span>
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                        <!--Country-->
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-1">@Token.Country :</label>
                                            <div class="form-group-sub col-lg-5 ">
                                                <select class="form-control"
                                                        serchbale
                                                        name="country"
                                                        ng-disabled="newOrder.Delivery_IsReceiptFromTheBranch"
                                                        ng-required="!newOrder.Delivery_IsReceiptFromTheBranch"
                                                        ng-class="{'is-invalid':addOrderForm.country.$invalid&&productFrmErrorSubmit}"
                                                        ng-model="newOrder.Delivery_CountryId"
                                                        ng-change="getCities()"
                                                        ng-options="c.Id as c.CountryName for c in countries"></select>
                                                <!--Errors:-->
                                                <small class="error " ng-if="addOrderForm.country.$error.required&&productFrmErrorSubmit">@Token.FieldIsRequierd</small>
                                            </div>
                                            <!--City-->
                                            <label class="col-form-label col-lg-1">@Token.City :</label>
                                            <div class="form-group-sub col-lg-5 ">
                                                <select class="form-control"
                                                        serchbale
                                                        name="city"
                                                        ng-disabled="newOrder.Delivery_IsReceiptFromTheBranch"
                                                        ng-required="!newOrder.Delivery_IsReceiptFromTheBranch"
                                                        ng-class="{'is-invalid':addOrderForm.city.$invalid&&productFrmErrorSubmit}"
                                                        ng-model="newOrder.Delivery_CityId"
                                                        ng-options="c.Id as c.CityNameWithShippingPrice for c in cities|orderBy :'CityNameWithShippingPrice'"
                                                        ng-change="updateDeliveryServicePrice(newOrder.Delivery_CityId)"></select>
                                                <!--Errors:-->
                                                <small class="error " ng-if="addOrderForm.city.$error.required&&productFrmErrorSubmit">@Token.FieldIsRequierd</small>
                                            </div>
                                        </div>
                                        <!--Address-->
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-1">@Token.Address :</label>
                                            <div class="form-group-sub col-lg-11 ">
                                                <textarea class="form-control"
                                                          serchbale
                                                          name="address"
                                                          ng-disabled="newOrder.Delivery_IsReceiptFromTheBranch"
                                                          ng-required="!newOrder.Delivery_IsReceiptFromTheBranch"
                                                          ng-class="{'is-invalid':addOrderForm.address.$invalid&&productFrmErrorSubmit}"
                                                          ng-model="newOrder.Delivery_Address"
                                                          maxlength="1000"></textarea>
                                                <!--Errors:-->
                                                <small class="error " ng-if="addOrderForm.address.$error.required&&productFrmErrorSubmit">@Token.FieldIsRequierd</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--begin: Form Wizard Step 7 === Bill-->
                            <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">@Token.TheBill :</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form">
                                        <div class="form-group row">
                                            <table class="table sms-table table-hover ">
                                                <thead class="">
                                                    <tr>
                                                        <th><span class="sms-sort-field">@Token.TheService</span></th>
                                                        <th><span class="sms-sort-field">@Token.CreateDateTime</span></th>
                                                        <th><span class="sms-sort-field">@Token.Price</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="x in newOrder.ServicePrices">
                                                        <td><span>{{x.ServiceName}}</span></td>
                                                         <td><span>@Token.Now</span></td>
                                                        <td><span>{{x.Price}}</span></td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="2" class="text-end">
                                                            @Token.TotalPrice :
                                                        </td>
                                                        <td>{{newOrder.TotalPrices|currency:''}}{{priceCurrencyCode}}</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold "
                                     data-ktwizard-type="action-prev">
                                    @Token.Previous
                                </div>
                                <button type="submit" href="javascript:void()" ng-if="newOrder.State==state.create"
                                        class="btn  btn-elevate btn-elevate-air btn-brand  btn-icon-sm  btn-md btn-tall btn-wide kt-font-bold "
                                        data-ktwizard-type="action-submit">
                                    <i class="la la-plus"></i>@Token.Add
                                </button>
                                <div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold "
                                     data-ktwizard-type="action-next"
                                     onclick="selectTo()">
                                    @Token.NextStep
                                </div>
                            </div>
                            <!--end: Form Actions -->
                        </form>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>


@section scriptsInHeader{
    <link href="~/assets/app/custom/wizard/wizard-v1.default.css" rel="stylesheet" />
    @if (!LanguageService.IsEn)
    {

        <link href="~/assets/DEV_CSS/wizard-1/wizard.ar.css" rel="stylesheet" />
    }
}

@section scripts{
    <script src="~/assets/app/custom/wizard/wizard-v1.js"></script>

    <!--(ANageeb) link angualr files for thsis  view -->
    <script src="~/Scripts/angularJS/views/photoOrders/create/service.js"></script>
    <script src="~/Scripts/angularJS/views/photoOrders/create/contoller.js"></script>

    <style>
        .kt-wizard-v1 .kt-wizard-v1__nav .kt-wizard-v1__nav-items .kt-wizard-v1__nav-item {
            flex: 0 0 14%;
        }

        .form-control:disabled {
            background-color: #fff !important;
        }
    </style>
}

