@{
    ViewBag.Title = Token.OrderDetails;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" ng-controller="productsCtrl">
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="~/Home/Index" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>

                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="~/Home/Index" class="kt-subheader__breadcrumbs-link"> @Token.HomePage </a>

                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="/PhotoOrders" class="kt-subheader__breadcrumbs-link"> @Token.TheOrders </a>

                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="javascript:void(0)" class="kt-subheader__breadcrumbs-link">@Token.OrderDetails</a>

                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--">Active link</span> -->
            </div>
        </div>

    </div>
    <!-- end:: Subheader -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="kt-portlet kt-portlet--tabs">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <span class="kt-portlet__head-icon">
                                    <i class="kt-font-brand fab fa-wpforms"></i>
                                </span>
                                <h3 class="kt-portlet__head-title">@Token.EnquiryInformation</h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active " data-toggle="tab" href="#Product" role="tab">
                                            @Token.Product
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#Options" role="tab">
                                            @Token.Options
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#Files" role="tab">
                                            @Token.Files
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#DeliveryInformation" role="tab">
                                            @Token.DeliveryInformation
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#TheBill" role="tab">
                                            @Token.TheBill
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="w_payment" data-toggle="tab" href="#Payments" role="tab">
                                            @Token.Payments
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="cancelrequests" data-toggle="tab" href="#CancelRequests" role="tab">
                                            @Token.CancelRequests
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="tab-content">
                                <!--Product-->
                                <div class="tab-pane active" id="Product">@Html.Partial("~/Views/PhotoOrders/_Details_Product.cshtml")</div>
                                <!--Options-->
                                <div class="tab-pane " id="Options">@Html.Partial("~/Views/PhotoOrders/_Details_Options.cshtml")</div>
                                <!--Files-->
                                <div class="tab-pane " id="Files">@Html.Partial("~/Views/PhotoOrders/_Details_Files.cshtml")</div>
                                <!--DeliveryInformation-->
                                <div class="tab-pane " id="DeliveryInformation">@Html.Partial("~/Views/PhotoOrders/_Details_DeliveryInformation.cshtml")</div>
                                <!--TheBill-->
                                <div class="tab-pane " id="TheBill">@Html.Partial("~/Views/PhotoOrders/_Details_TheBill.cshtml")</div>
                                <!--Payments-->
                                <div class="tab-pane "  id="Payments">@Html.Partial("~/Views/PhotoOrders/_Details_Payments.cshtml")</div>
                                <!--Cancel Requests-->
                                <div class="tab-pane " id="CancelRequests">@Html.Partial("~/Views/PhotoOrders/_Details_CancelRequests.cshtml")</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="cancleRequestDecision"
         class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form novalidate name="cancleRequestDecisionFrm" class="kt-form kt-form--label-right" ng-submit="cancleRequestDecisionSave(cancleRequestDecisionFrm)">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">@Token.AcceptCancle</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!--IsAccepted-->
                        <div class="form-group  row">
                            <label class="col-lg-2 col-form-label">@Token.Accept</label>
                            <div class="col-lg-10 form-group-sub">
                                <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                    <label>
                                        <input type="checkbox" checked="checked"
                                               ng-model="cancleRequestDecision.Customer_IsAccepted" name="">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <!--ReasonCanceling-->
                        <div class="form-group  row">
                            <label class="col-lg-2 col-form-label">@Token.ReasonCanceling</label>
                            <div class="col-lg-10 form-group-sub">
                                <textarea class="form-control" name="reasonCanceling"
                                          maxlength="4000"
                                          ng-model="cancleRequestDecision.Customer_ReasonCanceling"></textarea>
                            </div>
                        </div>

                        <!--BankAccountNumber-->
                        <div class="form-group  row">
                            <label class="col-lg-2 col-form-label">@Token.BankAccountNumber</label>
                            <div class="col-lg-10 form-group-sub">
                                <input type="number"
                                       name="bankAccountNumber"
                                       class="form-control"
                                       required
                                       ng-class="{'is-invalid':cancleRequestDecisionFrm.bankAccountNumber.$invalid&&cancleRequestDecisionFrmSubmitErro}"
                                       ng-model="cancleRequestDecision.Customer_BankAccountNumber" />

                                <!--Errors-->
                                <small class="error " ng-if="cancleRequestDecisionFrm.bankAccountNumber.$error.required&&cancleRequestDecisionFrmSubmitErro">@Token.FieldIsRequierd</small>
                            </div>
                        </div>
                        <!--BankAccountName-->
                        <div class="form-group  row">
                            <label class="col-lg-2 col-form-label">@Token.BankAccountName</label>
                            <div class="col-lg-10 form-group-sub">
                                <input type="text"
                                       class="form-control"
                                       name="bankAccountName"
                                       maxlength="200"
                                       ng-class="{'is-invalid':cancleRequestDecisionFrm.bankAccountName.$invalid&&cancleRequestDecisionFrmSubmitErro}"
                                       required
                                       ng-model="cancleRequestDecision.Customer_BankAccountName" />
                                <!--Errors-->
                                <small class="error " ng-if="cancleRequestDecisionFrm.bankAccountName.$error.required&&cancleRequestDecisionFrmSubmitErro">@Token.FieldIsRequierd</small>

                            </div>
                        </div>
                        <!--Customer_BankName-->
                        <div class="form-group  row">
                            <label class="col-lg-2 col-form-label">@Token.BankName</label>
                            <div class="col-lg-10 form-group-sub">
                                <input type="text"
                                       class="form-control"
                                       name="bankName"
                                       maxlength="200"
                                       ng-class="{'is-invalid':cancleRequestDecisionFrm.bankName.$invalid&&cancleRequestDecisionFrmSubmitErro}"
                                       required
                                       ng-model="cancleRequestDecision.Customer_BankName" />
                                <!--Errors-->
                                <small class="error " ng-if="cancleRequestDecisionFrm.bankName.$error.required&&cancleRequestDecisionFrmSubmitErro">@Token.FieldIsRequierd</small>

                            </div>
                        </div>

                        <!--RemainingAmounts-->
                        <div class="form-group  row">
                            <label class="col-lg-2 col-form-label" ng-show="cancleRequestDecision.IsRemainingAmountsForCustomer">
                                @Token.TheAmountThatWillBeRefundedToYou</label>
                            <label class="col-lg-2 col-form-label" ng-show="!cancleRequestDecision.IsRemainingAmountsForCustomer">@Token.TheRequiredAmountOfPayment</label>
                            <div class="col-lg-4 form-group-sub">
                                <input type="number"
                                       name="amount"
                                       class="form-control"
                                       disabled
                                       ng-model="cancleRequestDecision.RemainingAmounts" />
                            </div>
                            
                        <!--BankTransferImage -->
                            <label class="col-lg-2 col-form-label" ng-if="!cancleRequestDecision.IsRemainingAmountsForCustomer">@Token.BankTransferPhoto </label>
                            <div class="col-lg-4 form-group-sub"   ng-if="!cancleRequestDecision.IsRemainingAmountsForCustomer">
                            <up-files 
                                      text="@Token.Upload"
                                    accept="image/*"
                                      count="1"
                                      fun-load="cancleRequestDecisionImage"
                                      ></up-files>
                                <img class="figure-img img-thumbnail" src="{{cancleRequestDecision.TransfaerAmpuntImage}}" width="150" height="150" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-brand btn-elevate btn-elevate-air">
                            <i class="la la-save">@Token.Save</i>
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Token.Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>


@section scriptsInHeader{
    <link href="~/assets/app/custom/wizard/wizard-v1.default.css" rel="stylesheet" />
    <link href="~/assets/DEV_CSS/wizard-1/wizard.ar.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/assets/app/custom/wizard/wizard-v1.js"></script>

    <!--(ANageeb) link angualr files for thsis  view -->
    <script src="~/Scripts/angularJS/views/photoOrders/details/service.js"></script>
    <script src="~/Scripts/angularJS/views/photoOrders/details/contoller.js"></script>

    <style>
        .kt-wizard-v1 .kt-wizard-v1__nav .kt-wizard-v1__nav-items .kt-wizard-v1__nav-item {
            flex: 0 0 14%;
        }
 
    </style>
}

