@{
    /*
     هذة الصفحة خاصة بـ عرض الطلبات الذى طلبها المصور
     */
    ViewBag.Title = Token.MyOrders;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">

        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="~/Home/Index" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="~/Home/Index" class="kt-subheader__breadcrumbs-link">
                @Token.HomePage
            </a>

            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="javascript:void(0)" class="kt-subheader__breadcrumbs-link">
                @Token.MyOrders
            </a>

            <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
        </div>
    </div>

</div>

<!-- end:: Content Head -->
<!--Page Body-->
<div ng-controller="ordersCtrl">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-line-chart"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        @Token.MyOrders
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="kt-portlet__head-actions">
                            <a href="/PhotoOrders/Create" class="btn btn-brand btn-elevate btn-icon-sm">
                                <i class="la la-plus"></i>@Token.CreateOrder
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-portlet__body">
                <div class="kt-portlet__body">
                    <!--SMS Print,Excel,PDF,Search,....-->
                    <sms-buttons-search ng-sms-tableid="ng_table_1" ng-sms-search-model="itemSearch"></sms-buttons-search>
                    <table class="table sms-table table-hover " id="ng_table_1">
                        <thead class="">
                            <tr class="">
                                <th class="th-10">
                                    <sms-sort ng-sms-fop="orderFOP"
                                              ng-sms-field-name="Id"
                                              ng-sms-resource="@Token.OrderId"></sms-sort>
                                </th>
                                <th class="th-10">
                                    <sms-sort ng-sms-fop="orderFOP"
                                              ng-sms-field-name="ProductTypeName"
                                              ng-sms-resource="@Token.ProductType"></sms-sort>
                                </th>
                                <th class="th-10">
                                    <sms-sort ng-sms-fop="orderFOP"
                                              ng-sms-field-name="ProductName"
                                              ng-sms-resource="@Token.Product"></sms-sort>
                                </th>
                                <th class="th-10">
                                    <sms-sort ng-sms-fop="orderFOP"
                                              ng-sms-field-name="CreateDateTime_Display"
                                              ng-sms-resource="@Token.OrderDateTime"></sms-sort>
                                </th>
                                <th class="th-10">
                                    <sms-sort ng-sms-fop="orderFOP"
                                              ng-sms-field-name="IsActive"
                                              ng-sms-resource="@Token.IsActive  "></sms-sort>
                                </th>
                                <th class="th-10">
                                    @Token.Operations
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in orders|customFilter:itemSearch:orderFOP:'orderFOP':this |orderBy:orderFOP.sort.propName:orderFOP.sort.reverse | limitTo:orderFOP.paging.pagingLimt.take:orderFOP.paging.pagingLimt.skip track by $index">
                                <td><span>{{x.Id}}</span></td>
                                <td><span>{{x.ProductType.ProductTypeName}}</span></td>
                                <td><span>{{x.Product.ProductName}}</span></td>
                                <td><span>{{x.CreateDateTime_Display}}</span></td>
                                <td>
                                    <span>
                                        <i class="fas " ng-class="{'fa-check':x.IsActive}"></i>
                                    </span>
                                </td>
                                <td>
                                    <!--Btn:Information-->
                                    <a href="/PhotoOrders/Details?id={{x.Id}}"
                                       title="@Token.Details" class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="la la-search-plus"></i></a>

                                    <!--Btn:Edit-->
                                    <a href="/PhotoOrders/Update?id={{x.Id}}"
                                       ng-if="x.IsActive"
                                       title="@Token.Update" class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="la la-edit"></i></a>

                                    <!--Btn:Delete-->
                                    <a href="javascript:void()"
                                       ng-if="x.IsActive"
                                       ng-click="delete(x)"
                                       title="@Token.Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="la la-trash"></i></a>

                                    <!--Btn:Cancel-->
                                    @*<a href="javascript:void()"
                                       ng-if="x.IsActive"
                                       ng-click="cancel(x)"
                                       title="@Token.OrderCancel" class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="fas fa-power-off"></i></a>*@

                                    <br />
                                    <!--Btn:PayNow-->
                                    <a href="javascript:void(0)" class="btn btn-success btn-elevate btn-icon-sm" ng-click="showAddNewPayment(x.Id)">
                                        <i class="la la-dollar"></i>@Token.PayNow
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--Paging -->
                    <sms-paging ng-sms-fop="orderFOP" ng-sms-display-m-func="getOrders()"></sms-paging>
                </div>
            </div>
        </div>
    </div>

    <!--Add New Payment-->
    <div id="addNewPayment"
         class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form novalidate name="addPaymrntFrm" class="kt-form kt-form--label-right" ng-submit="addNewPayment(addPaymrntFrm)">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">@Token.PayNowForOrderNumber {{newPayment.OrderId}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!--bankTransfer Deposit-->
                        <div class="form-group  row">
                            <!--Amount-->
                            <label class="col-lg-2 col-form-label">@Token.Amount</label>
                            <div class="col-lg-4 form-group-sub">
                                <input type="number"
                                       name="amount"
                                       class="form-control"
                                       ng-class="{'is-invalid':addPaymrntFrm.amount.$invalid&&addPaymrntFrmSubmitErro}"
                                       ng-model="newPayment.Amount"
                                       ng-required="true" />
                                <!--Errors-->
                                <small class="error " ng-if="addPaymrntFrm.amount.$error.required&&addPaymrntFrmSubmitErro">@Token.FieldIsRequierd</small>
                            </div>

                            <!--Upload BankTransferImage -->
                            <label class="col-lg-2 col-form-label">@Token.BankTransferPhoto </label>
                            <div class="col-lg-4 form-group-sub">
                                <up-files text="@Token.Upload"
                                          accept="image/*"></up-files>

                                <img class="figure-img img-thumbnail" src="{{newPayment.BankTransferImage}}" width="100" height="100" />
                                <small class="error invalid-feedback" ng-if="!newPayment.File&&addPaymrntFrmSubmitErro">@Token.FieldIsRequierd</small>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-brand btn-elevate btn-elevate-air">
                            <i class="la la-plus">@Token.Add</i>
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Token.Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>


@section scripts{

    <!--(ANageeb) link angualr files for thsis  view -->
    <script src="~/Scripts/angularJS/views/photoOrders/index/service.js"></script>
    <script src="~/Scripts/angularJS/views/photoOrders/index/contoller.js"></script>
}
